<TR><TH align="left">$displayManager.getSingularDisplayNameForSubject(): </TH><TD>
#set($mr = $!om.getImageSessionData())
#set($part_id = $!mr.getSubjectData().getId())
#set ( $click = "$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:subjectData').addPathInfo('search_field','xnat:subjectData.ID').addPathInfo('search_value',$!part_id).addPathInfo('popup',$!popup).addPathInfo('project',$project)" )
<A CLASS=b href="$click">$!mr.getSubjectData().getIdentifier($project,false)</A></TD></TR>
<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!mr.SubjectAge</TD></TR>
<TR><TH align="left">$displayManager.getSingularDisplayNameForImageSession(): </TH>
#set($mr_id=$item.getProperty("${search_element}.imageSession_ID"))
#if ($mr)
	  #set ( $click = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$mr.getXSIType()).addPathInfo('search_field','xnat:imageSessionData.ID').addPathInfo('search_value',$mr_id).addPathInfo('popup',$!popup).addPathInfo('project',$project)" )
  <TD><A CLASS=b href="$click">$!mr.getIdentifier($project,false)</A></TD>
#else
	<TD>$!item.getProperty("${search_element}.imageSession_ID")</TD>
#end
</TR>
<TR><TH align="left" width=200>Session Date: </TH><TD>$!mr.getProperty("date")</TD></TR>
