<!--BEGIN /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->
<link type="text/css" rel="stylesheet" href="$content.getURI("style/scans.css")">
<div class="edit_header1" style="margin-bottom:16px">Scans</div>
#set($scanAssessors =$!om.getScanAssessors())

<table cellPadding="0" cellSpacing="0" width="80%" >
  <tr style="border-style:none;">
    <th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Scan</th>
    <th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Type</th>
	<th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Series Desc</th>
    <th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Usability</th>
	<th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Files</th>
    <th class="underscore" style="border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left>Note</th>
  </tr>
  
  #set ($scanCounter = 0)
  #set ($scanWFiles = 0)
  #foreach($scan in $om.getSortedScans())
    #set ($scanID =$!scan.getProperty("ID"))
	
	<tr valign=top border=0>
      <td border=0 align=left NOWRAP>
        <a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
          <img ID="IMG$scanCounter" src="$content.getURI('images/plus.jpg')" border=0/>
            $scanID
        </a>
      </td>
      <td border=0 align=left NOWRAP>$!scan.getProperty("type")</td>
	  <td border=0 align=left NOWRAP>$!scan.getProperty("series_description")</td>
      <td border=0 class="quality-$!scan.getProperty("quality")" style="font-weight:bold; text-align:left;"  NOWRAP>
      $!scan.getProperty("quality")
      </td>
	
	<td border=0 align=left NOWRAP>
        #if($scan.getFile().size()>0)
        <div id="scans_$!scan.getId()_stats">
          <a onclick="window.viewer.init();">Show Counts</a>
        </div>
			#set ($scanWFiles = $scanWFiles+1)
        #else (0 files, 0.00MB)
        #end
      </td>
      <td border=0 align=left NOWRAP>$!scan.getProperty("note")</td>
    </tr>
	
	<tr>
      <td colspan="5" NOWRAP>
        <span ID="span$!scanCounter" style="position:relative; display:none;">
          #parse($turbineUtils.getTemplateName("_details",$scan.getXSIType(),$project))
        </span>
      </td>
    </tr>
	#set ($scanCounter= $scanCounter + 1)
  #end	
  #if($scanWFiles>0)
       <tr>
               <td colspan="4" align="right">
               </td>
               <td NOWRAP >
                       <span ID="total_dicom_files" style="position:relative;">
						<a onclick="window.viewer.init();">Total Counts</a></span>
               </td>
       </tr>
    #end
</table>
<BR/>
<BR/>
#set ($qcXsiType = "xnat:qcAssessmentData")
#parse($turbineUtils.getTemplateName("report_summary",$qcXsiType,$project))
<!--END /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->