##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
##
## Default Macro file for cnda4
##
## Put your Application macros in this file.
##
## patch test

#macro(insertPipelineNotification)
   <br/>
    <p>&nbsp;</p>
    #set ($email = $user.getEmail())
    #set ($text	= "")
    #if(!($email==""))
            <p>
                When the build is complete, an email will be automatically sent to $email
            </p>
    <p>&nbsp;</p>
    #end
    #set ($text="additional")
            <p>
                Send <i>$text</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
#end

#macro(insertCustomPipelineNotification $msg)
   <br/>
    <p>&nbsp;</p>
    #set ($email = $user.getEmail())
    #set ($text	= "")
    #if(!($email==""))
            <p>
                When the $msg is complete, an email will be automatically sent to $email
            </p>
    <p>&nbsp;</p>
    #end
    #set ($text="additional")
            <p>
                Send <i>$text</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
#end


#macro (includeJSFile)
  <script type="text/javascript">
    var serverRoot = "$content.getURI('')";
  </script>
  <script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/xdat.js')"></script>
#end

##CREATED BY TIMOTHY OLSEN 3/7/05 FOR USE IN EDIT SCREENS
#macro (xdatPassItemFormFields $search_element $search_field $search_value $project)
  <INPUT type="hidden" name="search_element" value="$search_element"/>
  <INPUT type="hidden" name="search_field" value="$search_field"/>
  <INPUT type="hidden" name="search_value" value="$search_value"/>
  <INPUT type="hidden" name="project" value="$project"/>
#end

#macro (xdatTextBox $name $item $defaultValue $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if ($item.getProperty($name))
    #if($item.isPKField($name) && (!$vr.getField($name)))
    <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
    #else
    <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #end
  #else
  <input id="$name" type="text" name="$name" value="$defaultValue"/>
  #end
#end

#macro (xdatTextBoxWID $name $item $defaultValue $vr $id)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if ($item.getProperty($name))
    #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$id" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
    #else
    <input ID="$id" type="text" name="$name" value="$item.getProperty($name)"/>
    #end
  #else
  <input ID="$id" type="text" name="$name" value="$defaultValue"/>
  #end
#end


#macro (xdatStringBox $name $item $defaultValue $vr)
	#xdatStringBoxOnChange($name $item $defaultValue "" $vr "")
#end

#macro (xdatStringBox $name $item $defaultValue $vr $classes)
	#xdatStringBoxOnChange($name $item $defaultValue "" $vr $classes)
#end

#macro (xdatStringBoxOnChange $name $item $defaultValue $onChange $vr)
	#xdatStringBoxOnChange($name $item $defaultValue  $onChange $vr "")
#end

#macro (xdatStringBoxOnChange $name $item $defaultValue $onChange $vr $classes)
	#if ($vr)
		#if($vr.getField($name))
			<span style="color:red;">&#8658</span>
		#end
	#end
	#if ($item.getProperty($name))
		#if($item.isPKField($name) && (!$vr.getField($name)))
			<input id="$name" type="hidden" name="$name" value="$item.getStringProperty($name)" #if($!onChange != "") onchange="$!{onChange}(this)" #end/>
			$item.getProperty($name)
		#else
			<input id="$name" class="$!classes" type="text" name="$name" value="$item.getStringProperty($name)" #if($!onChange != "") onchange="$!{onChange}(this)" #end/>
		#end
	#else
		<input id="$name" class="$!classes" type="text" name="$name" value="$defaultValue" #if($!onChange != "") onchange="$!{onChange}(this)" #end/>
	#end
#end

#macro (xdatStringBoxWSize $name $item $defaultValue $vr $size)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if ($item.getProperty($name))
    #if($item.isPKField($name) && (!$vr.getField($name)))
    <input id="$name" type="hidden" name="$name" value="$item.getStringProperty($name)"/>
    $item.getProperty($name)
    #else
    <input id="$name" type="text" name="$name" size="$size" value="$item.getStringProperty($name)"/>
    #end
  #else
  <input id="$name" type="text" name="$name" size="$size" value="$defaultValue"/>
  #end
#end

#macro (xdatTextArea $name $item $defaultValue $vr $rows $cols)
#if ($vr)
    #if($vr.getField($name))
        <span style="color:red;">&#8658</span>
    #end
#end
    #if ($item.getProperty($name))
        <textarea rows="$rows" cols="$cols" id="$name" name="$name">$item.getStringProperty($name)</textarea>
    #else
        <textarea rows="$rows" cols="$cols" id="$name" name="$name">$defaultValue</textarea>
    #end
#end

#macro (xdatPKDisplay $name $item)
  <input id="$name" type="hidden" name="$name" value="$item.getStringProperty($name)"/>
  $item.getProperty($name)
#end

#macro (xdatBooleanDisplay $name $item $defaultValue)
  #if($item.getBooleanProperty($name,$defaultValue))
    <img border="0" src="$content.getURI("images/cg.gif")"/>
  #else
    <img border="0" src="$content.getURI("images/cr.gif")"/>
  #end
#end

#macro (xdatHiddenBox $name $item $defaultValue)
  #if ($item.getProperty($name))
  <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
  #else
  <input id="$name" type="hidden" name="$name" value="$defaultValue"/>
  #end
#end

#macro (xdatBooleanCheckbox $name $item $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #set($value = $!item.getBooleanProperty($name))

  ## The hidden box is necessary to submit a "false" value if the checkbox is unchecked
  ## If the checkbox is checked, its true value will override the hidden's "false" value
  <input ID="$name" type="checkbox" name="$name" value="1" #if($value) CHECKED #end />
  <input type="hidden" name="$name" value="0" />
#end

#macro (xdatBooleanRadio $name $item $defaultValue $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if ($item.getBooleanProperty($name,$defaultValue))
  <input type="radio" name="$name" value="1" CHECKED/>&nbsp;true
  <input type="radio" name="$name" value="0"/>&nbsp;false
  #else
  <input type="radio" name="$name" value="1"/>&nbsp;true
  <input type="radio" name="$name" value="0" CHECKED/>&nbsp;false
  #end
#end

#macro (xdatBooleanRadioYesNo $name $item $defaultValue $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if ($item.getBooleanProperty($name,$defaultValue))
  <input type="radio" name="$name" value="1" CHECKED/>&nbsp;yes
  <input type="radio" name="$name" value="0"/>&nbsp;no
  #else
  <input type="radio" name="$name" value="1"/>&nbsp;yes
  <input type="radio" name="$name" value="0" CHECKED/>&nbsp;no
  #end
#end

#macro (xdatBooleanRadioYesNoWithoutDefault $name $item $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #set($value = "$!item.getBooleanProperty($name)")

  #if ($value == "true")
  <input type="radio" name="$name" value="1" CHECKED/>&nbsp;yes
  <input type="radio" name="$name" value="0"/>&nbsp;no
  #elseif ($value == "false")
  <input type="radio" name="$name" value="1"/>&nbsp;yes
  <input type="radio" name="$name" value="0" CHECKED/>&nbsp;no
  #else
  <input type="radio" name="$name" value="1"/>&nbsp;yes
  <input type="radio" name="$name" value="0"/>&nbsp;no
  #end
#end


#macro (xdatBooleanRadioYesNoWithoutDefaultWONClick $name $item $vr $onchange)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #set($value = "$!item.getBooleanProperty($name)")

  #if ($value == "true")
  <input type="radio" name="$name" value="1" ONCLICK="return $!{onchange}(true);" CHECKED/>&nbsp;yes
  <input type="radio" name="$name" value="0" ONCLICK="return $!{onchange}(false);"/>&nbsp;no
  #elseif ($value == "false")
  <input type="radio" name="$name" value="1" ONCLICK="return $!{onchange}(true);"/>&nbsp;yes
  <input type="radio" name="$name" value="0" ONCLICK="return $!{onchange}(false);" CHECKED/>&nbsp;no
  #else
  <input type="radio" name="$name" value="1" ONCLICK="return $!{onchange}(true);"/>&nbsp;yes
  <input type="radio" name="$name" value="0" ONCLICK="return $!{onchange}(false);"/>&nbsp;no
  #end
#end

#macro (xdatRadioButtonGroup $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      #foreach ($pValue in $possibleValues)
      <input type="radio" name="$name" VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) CHECKED #end />&nbsp;$pValue
      #end
    #end
  #end
#end

#macro (xdatComboBox $name $item $settings_alias $vr)
 #if ($vr)
    #if($vr.getField($name))
       <span style="color:red;">&#8658</span>
    #end
 #end
   #if($item.isPKField($name) && (!$vr.getField($name)))
      <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
      $item.getProperty($name)
   #else
           <select id="$name" name="$name"></select>

          <script type="text/javascript" src="$content.getURI("scripts/customizableSelectBox.js")"></script>
          <script type="text/javascript">
             var comboBox=new CustomSelectBox("$name",$settings_alias);
             comboBox.render("$!item.getProperty($name)");
          </script>
   #end
#end

#macro (xdatSelectBox $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
  #if($possibleValues)
    #if ($possibleValues.size()==0)
      <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
    <table align="left" cellpadding="0" cellspacing="0"><tr><td align="left" style="padding-left:0px;">
      <SELECT id="SEL_$name" name="SEL_$name" onchange="setSelectValue(this);">
        <OPTION VALUE="">(SELECT)</OPTION>
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue.get(0)" #if($pValue.get(0).equals($item.getProperty($name))) SELECTED #end>$pValue.get(1)</OPTION>
        #end
        <OPTION VALUE="">CUSTOM</OPTION>
      </SELECT>			</td><td align="left"><DIV ID="IND_$name"><a ID="A_$name" ONCLICK="showText(this);">Other</a></DIV>
      </td><td>
<DIV ID="TEXT_$name" style="display:none"> Enter: <input id="$name" type="text" name="$name" value="$!item.getProperty($name)"/></DIV>
</td></tr></table>
  <script type="text/javascript">
  function setSelectValue(SELECTbox){
    if(SELECTbox.selectedIndex!=0)
    {
      var name = SELECTbox.name;
      name = name.substring(4);
      var NEWvalue=SELECTbox.options[SELECTbox.selectedIndex].value;
      if (NEWvalue=="")
      {
        document.getElementById("TEXT_" + name).style.display="block";
        document.getElementById("IND_" + name).style.display="none";
        //SELECTbox.disabled=true;
      }else{
        document.getElementById(name).value=NEWvalue;
      }
    }
  }
  function showText(ATag){
      var name = ATag.id;
      name = name.substring(2);
        document.getElementById("TEXT_" + name).style.display="block";
        document.getElementById("IND_" + name).style.display="none";
  }
  </script>
    #end
    #else
      <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #end
  #end
#end


#macro (xdatSelectBoxWSingleValueLbl $lbl $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input id="$name" type="hidden" name="$name" value="$!item.getProperty($name)"/>
    $item.getProperty($name)
  #else
  #if($possibleValues)
    #if ($possibleValues.size()==0)
      <input id="$name" type="text" name="$name" value="$!item.getProperty($name)"/>
    #else
    <table cellpadding="0" cellspacing="0" align="left"><tr><td align="left">
      <SELECT id="SEL_$name" name="SEL_$name" ONCHANGE="setSelectValue(this);">
        <OPTION VALUE="">$lbl</OPTION>
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #end>$pValue</OPTION>
        #end
        <OPTION VALUE="">CUSTOM</OPTION>
      </SELECT>			</td><td align="left"><DIV ID="IND_$name"><a ID="A_$name" ONCLICK="showText(this);">Other</a></DIV>
      </td><td>
<DIV ID="TEXT_$name" style="display:none"> Enter: <input id="$name" type="text" name="$name" value="$!item.getProperty($name)"/></DIV>
</td></tr></table>
  <script type="text/javascript">
  function setSelectValue(SELECTbox){
    if(SELECTbox.selectedIndex!=0)
    {
      var name = SELECTbox.name;
      name = name.substring(4);
      var NEWvalue=SELECTbox.options[SELECTbox.selectedIndex].value;
      if (NEWvalue=="")
      {
        document.getElementById("TEXT_" + name).style.display="block";
        document.getElementById("IND_" + name).style.display="none";
        //SELECTbox.disabled=true;
      }else{
        document.getElementById(name).value=NEWvalue;
      }
    }
  }
  function showText(ATag){
      var name = ATag.id;
      name = name.substring(2);
        document.getElementById("TEXT_" + name).style.display="block";
        document.getElementById("IND_" + name).style.display="none";
  }
  </script>
    #end
    #else
      <input id="$name" type="text" name="$name" value="$!item.getProperty($name)"/>
    #end
  #end
#end

#macro (xdatSelectBoxWSingleValue $name $item $possibleValues $vr)
	#xdatSelectBoxWSingleValueLbl("(SELECT)" $name $item $possibleValues $vr)
#end

#macro (xdatSelectBoxWSingleValueWID $name $item $possibleValues $vr $id)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$id" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$id" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      <SELECT ID="$id" name="$name">
        <OPTION VALUE="">(SELECT)</OPTION>
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #end>$pValue</OPTION>
        #end
      </SELECT>
    #end
  #end
#end

#macro (xdatSelectBoxWDefault $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      <SELECT ID="$name" name="$name">
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #end>$pValue</OPTION>
        #end
      </SELECT>
    #end
  #end
#end

#macro (xdatSimpleSelectBoxLbl $lbl $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      <SELECT ID="$name" name="$name">
        <OPTION VALUE="">$!lbl</OPTION>
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #end>$pValue</OPTION>
        #end
      </SELECT>
    #end
  #end
#end


#macro (xdatSimpleSelectBoxLblWKeyValue $lbl $name $item $possibleValues $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      <SELECT ID="$name" name="$name">
        <OPTION VALUE="">$!lbl</OPTION>
        #foreach ($pValue in $possibleValues)
        <OPTION VALUE="$pValue.get(0)" #if($pValue.get(0).equals($item.getProperty($name))) SELECTED #end>$pValue.get(1)</OPTION>
        #end
      </SELECT>
    #end
  #end
#end

#macro (xdatSimpleSelectBox $name $item $possibleValues $vr)
	xdatSimpleSelectBoxLbl("(SELECT)" $name $item $possibleValues $vr)
#end

#macro (xdatIntegerValueSelectBox $name $item $possibleValues $offset $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #if($item.isPKField($name) && (!$vr.getField($name)))
    <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
    $item.getProperty($name)
  #else
    #if ($possibleValues.size()==0)
      <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
    #else
      <SELECT ID="$name" name="$name">
        <OPTION VALUE="">(SELECT)</OPTION>
        #foreach ($pValue in $possibleValues)
        #set($intValue = ($velocityCount - 1) + $offset)
        <OPTION VALUE="$intValue" #if("$intValue" == "$!item.getProperty($name)") SELECTED #end>$pValue</OPTION>
        #end
      </SELECT>
    #end
  #end
#end

#macro (xdatDateBox $name $item $vr $years)
 #if ($vr)
    #if($vr.getField($name))
       <span style="color:red;">&#8658</span>
    #end
 #end
   #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
   #set($days = [ 1..31 ])
   <DIV ID="date_container">
         #if($item.getDateProperty($name))
              #set ($expt_date = $!item.getDateProperty($name))
            <select name="${name}.month" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
                   #foreach ($month in $months)
              #set ($monthCount = $velocityCount - 1)
      <option value="$monthCount" #if ( $monthCount == $!expt_date.getMonth()) SELECTED="true" #end>						$month					</option>
           #end
        </select>
        <select name="${name}.date" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
           #foreach ($day in $days)
      <option value="$day" #if ( $day == $!expt_date.getDate() ) SELECTED="true" #end>$day</option>
           #end
        </select>

##			  #set ($currentYear = $date.Year + 1900)
        <select name="${name}.year" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
           #foreach ($year in $years)
            <option value="$year" #if ( $year == $!expt_date.getYear() + 1900 ) SELECTED="true" #end>$year</option>
           #end
        </select>
     #else
        <select name="${name}.month" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
           #foreach ($month in $months)
              #set ($monthCount = $velocityCount - 1)
          <option value="$monthCount">				$month					</option>
           #end
        </select>
          <select name="${name}.date" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
           #foreach ($day in $days)
          <option value="$day">$day</option>
           #end
        </select>

##			  #set ($currentYear = $date.Year + 1900)
        <select name="${name}.year" onchange="validateDate(this);">
           <option value="bad">(SELECT)</option>
           #foreach ($year in $years)
        <option value="$year">$year</option>
           #end
        </select>
     #end
      <div ID="div_img" style="display:inline"></div>
   </DIV>
#end


#macro (xdatDateBoxNotReportedJS)
<script type="text/javascript">
	function selectDayReported(name, reported) {
		if (reported) {
			document.getElementById(name + "DayNotReported").value = 0;
			if (document.getElementsByName(name + ".date")[0].selectedIndex === 1) {
				document.getElementsByName(name + ".date")[0].selectedIndex = 0;
			}
			selectMonthReported(name, reported);
		} else {
			document.getElementById(name + "DayNotReported").value = 1;
			document.getElementsByName(name + ".date")[0].selectedIndex = 1;
		}
	}

	function selectMonthReported(name, reported) {
		if (reported) {
			document.getElementById(name + "MonthNotReported").value = 0;
			if (document.getElementsByName(name + ".month")[0].selectedIndex === 1) {
				document.getElementsByName(name + ".month")[0].selectedIndex = 0;
				selectDayReported(name, reported);
			}
			selectYearReported(name, reported);
		} else {
			document.getElementById(name + "MonthNotReported").value = 1;
			document.getElementsByName(name + ".month")[0].selectedIndex = 1;
			selectDayReported(name, reported);
		}
	}

	function selectYearReported(name, reported) {
		if (reported) {
			document.getElementById(name + "YearNotReported").value = 0;
			if (document.getElementsByName(name + ".year")[0].selectedIndex === 1) {
				document.getElementsByName(name + ".year")[0].selectedIndex = 0;
				selectMonthReported(name, reported);
			}
		} else {
			document.getElementById(name + "YearNotReported").value = 1;
			document.getElementsByName(name + ".year")[0].selectedIndex = 1;
			selectMonthReported(name, reported);
		}
	}
</script>
#end

#macro (xdatDateBoxNotReported $name $item $vr $years)
	#if ($vr)
		#if($vr.getField($name))
			<span style="color:red;">&#8658</span>
		#end
	#end

	#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
	#set($days = [ 1..31 ])
	#set($DayNotReported = "${name}DayNotReported")
	#set($MonthNotReported = "${name}MonthNotReported")
	#set($YearNotReported = "${name}YearNotReported")

	<DIV ID="date_container">
	#if($item.getDateProperty($name))
		#set ($expt_date = $!item.getDateProperty($name))

		<select name="${name}.month" onchange="if(this.selectedIndex === 1) { selectMonthReported('${name}', false); } else { selectMonthReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="0" #if ( $item.getBooleanProperty($MonthNotReported) ) SELECTED="true" #end>Not Reported</option>
		#foreach ($month in $months)
			#set ($monthCount = $velocityCount - 1)
			<option value="$monthCount" #if ( !$item.getBooleanProperty($MonthNotReported) && $monthCount == $!expt_date.getMonth()) SELECTED="true" #end>$month</option>
		#end
		</select>

		<select name="${name}.date" onchange="if(this.selectedIndex === 1) { selectDayReported('${name}', false); } else { selectDayReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="1" #if ( $item.getBooleanProperty($DayNotReported) ) SELECTED="true" #end>Not Reported</option>
		#foreach ($day in $days)
			<option value="$day" #if (  !$item.getBooleanProperty($DayNotReported) && $day == $!expt_date.getDate() ) SELECTED="true" #end>$day</option>
		#end
		</select>

		<select name="${name}.year" onchange="if(this.selectedIndex === 1) { selectYearReported('${name}', false); } else { selectYearReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="1900" #if ( $item.getBooleanProperty($YearNotReported) ) SELECTED="true" #end>Not Reported</option>
		#foreach ($year in $years)
			<option value="$year" #if (  !$item.getBooleanProperty($YearNotReported) && $year == $!expt_date.getYear() + 1900 ) SELECTED="true" #end>$year</option>
		#end
		</select>
	#else
		<select name="${name}.month" onchange="if(this.selectedIndex === 1) { selectMonthReported('${name}', false); } else { selectMonthReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="0">Not Reported</option>
		#foreach ($month in $months)
			#set ($monthCount = $velocityCount - 1)
			<option value="$monthCount">$month</option>
		#end
		</select>

		<select name="${name}.date" onchange="if(this.selectedIndex === 1) { selectDayReported('${name}', false); } else { selectDayReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="1">Not Reported</option>
		#foreach ($day in $days)
			<option value="$day">$day</option>
		#end
		</select>

		<select name="${name}.year" onchange="if(this.selectedIndex === 1) { selectYearReported('${name}', false); } else { selectYearReported('${name}', true); validateDate(this); }">
			<option value="bad">(SELECT)</option>
			<option value="1900">Not Reported</option>
		#foreach ($year in $years)
			<option value="$year">$year</option>
		#end
		</select>
	#end
	<div ID="div_img" style="display:inline"></div>

	<INPUT type="hidden" id="${name}DayNotReported" name="${name}DayNotReported" value="$!item.getIntegerProperty($DayNotReported)"/>
	<INPUT type="hidden" id="${name}MonthNotReported" name="${name}MonthNotReported" value="$!item.getIntegerProperty($MonthNotReported)"/>
	<INPUT type="hidden" id="${name}YearNotReported" name="${name}YearNotReported" value="$!item.getIntegerProperty($YearNotReported)"/>

	</DIV>
#end

#macro (xdatViewDateNotReported $name $item)
	#set($DayNotReported = "${name}DayNotReported")
	#set($MonthNotReported = "${name}MonthNotReported")
	#set($YearNotReported = "${name}YearNotReported")


	#if($item.getDateProperty($name))
		#set($storedDate = $!item.getDateProperty($name))
		#set($viewedDate = "")

		#if ($item.getBooleanProperty($YearNotReported))
			#set($viewedDate = "????")
		#else
			#set($year = $!storedDate.getYear() + 1900)
			#set($viewedDate = "$!year")
		#end

		#set($viewedDate = "$!{viewedDate}-")

		#if ($item.getBooleanProperty($MonthNotReported))
			#set($viewedDate = "$!{viewedDate}??")
		#else
			#set($month = $!storedDate.getMonth() + 1)
			#if ($month < 10)
				#set($month = "0$!month")
			#end
			#set($viewedDate = "$!{viewedDate}$!month")
		#end

		#set($viewedDate = "$!{viewedDate}-")

		#if ($item.getBooleanProperty($DayNotReported))
			#set($viewedDate = "$!{viewedDate}??")
		#else
			#set($viewedDate = "$!{viewedDate}$!storedDate.getDate()")
		#end
		$!viewedDate
	#end
#end

## DATE-TIME PROPS
#macro (xdatDateTimeBox $name $item $vr $years)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
  #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
  #set($days = [ 1..31 ])
  <font face="$ui.sansSerifFonts">
    #if($item.getDateProperty($name))
      #set ($expt_date = $!item.getDateProperty($name))
      <select name="${name}.month">
        <option value="bad">(SELECT)</option>

        #foreach ($month in $months)
          #set ($monthCount = $velocityCount - 1)
              <option value="$monthCount" #if ( $monthCount == $!expt_date.getMonth()) SELECTED="true" #end>
            $month
          </option>
        #end
      </select>/

      <select name="${name}.date">
        <option value="bad">(SELECT)</option>
        #foreach ($day in $days)
              <option value="$day" #if ( $day == $!expt_date.getDate() ) SELECTED="true" #end>$day</option>
        #end
      </select>/

##			#set ($currentYear = $date.Year + 1900)
      <select name="${name}.year" >
        <option value="bad">(SELECT)</option>
        #foreach ($year in $years)
            <option value="$year" #if ( $year == $!expt_date.getYear() + 1900 ) SELECTED="true" #end>$year</option>
        #end
      </select>-

      <select name="${name}.hours">
        <option value="bad">(SELECT)</option>
        #foreach ($hour in [ 0..23 ])
              <option value="$hour" #if ( $hour == $!expt_date.getHours() ) SELECTED="true" #end>$hour</option>
        #end
      </select>:

      <select name="${name}.minutes">
        <option value="bad">(SELECT)</option>
        #foreach ($minute in [ 0..59 ])
              <option value="$minute" #if ( $minute == $!expt_date.getMinutes() ) SELECTED="true" #end>$minute</option>
        #end
      </select>

    #else
      <select name="${name}.month">
        <option value="bad">(SELECT)</option>
        #foreach ($month in $months)
          #set ($monthCount = $velocityCount - 1)
              <option value="$monthCount">
            $month
          </option>
        #end
      </select>/

      <select name="${name}.date">
        <option value="bad">(SELECT)</option>
        #foreach ($day in $days)
              <option value="$day">$day</option>
        #end
      </select>/

##			#set ($currentYear = $date.Year + 1900)
      <select name="${name}.year" >
        <option value="bad">(SELECT)</option>
        #foreach ($year in $years)
            <option value="$year">$year</option>
        #end
      </select>-

      <select name="${name}.hours">
        <option value="bad">(SELECT)</option>
        #foreach ($hour in [ 0..23 ])
              <option value="$hour">$hour</option>
        #end
      </select>:

      <select name="${name}.minutes">
        <option value="bad">(SELECT)</option>
        #foreach ($minute in [ 0..59 ])
              <option value="$minute">$minute</option>
        #end
      </select>

    #end
      </font>
#end


## TIME PROPS
#macro (xdatTimeBox $name $item $vr)
#if ($vr)
  #if($vr.getField($name))
    <span style="color:red;">&#8658</span>
  #end
#end
#set ($hours=[["08","8AM",8],["09","9AM",9],["10","10AM",10],["11","11AM",11],["12","12PM",12],["13","1PM",13],["14","2PM",14],["15","3PM",15],["16","4PM",16],["17","5PM",17],["18","6PM",18],["19","7PM",19],["20","8PM",20],["21","9PM",21],["22","10PM",22],["23","11PM",23],["00","12AM",0],["01","1AM",1],["02","2AM",2],["03","3AM",3],["04","4AM",4],["05","5AM",5],["06","6AM",6],["07","7AM",7]]	)
        <font face="$ui.sansSerifFonts">
        #if($!item.getDateProperty($name))
      #set ($expt_date = $!item.getDateProperty($name))
          <select id="${name}.hours" name="${name}.hours">
        <option value="">HH</option>
        #foreach ($hour in $hours)
              <option value="$hour.get(0)" #if ( $hour.get(2) == $!expt_date.getHours() ) SELECTED="true" #end>$hour.get(1)</option>
        #end
      </select>:

      <select id="${name}.minutes" name="${name}.minutes">
        <option value="">MM</option>
        #foreach ($minute in [ 0..59 ])
           #if($minute<10)
           		#set($minuteD="0$minute")
           #else
           		#set($minuteD="$minute")
           #end
              <option value="$minute" #if ( $minute == $!expt_date.getMinutes() ) SELECTED="true" #end>$minuteD</option>
        #end
      </select>
      #else
      <select id="${name}.hours" name="${name}.hours">
        <option value="">HH</option>
        #foreach ($hour in $hours)
              <option value="$hour.get(0)">$hour.get(1)</option>
        #end
      </select>:

      <select id="${name}.minutes" name="${name}.minutes">
        <option value="">MM</option>
        #foreach ($minute in [ 0..59 ])
           #if($minute<10)
           		#set($minuteD="0$minute")
           #else
           		#set($minuteD="$minute")
           #end
              <option value="$minute">$minuteD</option>
        #end
      </select>
      #end
            </font>
#end

## EDIT PROPS
#macro (xdatEditProps $item $edit_screen)
  #set ($dataPopup = $turbineUtils.GetPassedParameter("popup",$data))
  #if($dataPopup)
  #else
    #set ($dataPopup = "false")
  #end
  <INPUT type="hidden" name="popup" value="$dataPopup"/>
  <INPUT type="hidden" name="edit_screen" value="$!edit_screen"/>
  <INPUT type="hidden" name="ELEMENT_0" value="$!item.getXSIType()"/>
#end

#macro (xdatSearchField $schemaElement $displayField)
  #if ($displayField.getDataType().equalsIgnoreCase("string"))
      #if ($displayField.hasEnumeration())
        <select name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals">
        <option value="" #if($!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")=="")SELECTED#end>(SELECT)</option>
        #foreach ($key in $displayField.getEnumeration())
            <option value="$key" #if($!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")==$key)SELECTED#end>$key</option>
        #end
      </select>
    #else
        <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")"/>
    #end
  #elseif ($displayField.getDataType().equalsIgnoreCase("date"))
    <TABLE>
      <TR>
        <TD>From</TD>
        <TD><INPUT size="8" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_to_fulldate" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_to_fulldate")" ONCHANGE="return isDate(this.value);"/>
        </TD>
      </TR>
      <TR>
        <TD>To</TD>
        <TD><INPUT size="8" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_from_fulldate" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_from_fulldate")" ONCHANGE="return isDate(this.value);"/>

        </TD>
      </TR>
    </TABLE>
  #elseif ($displayField.getDataType().equalsIgnoreCase("integer"))
    #if ($displayField.getId().equalsIgnoreCase("INVEST_ID"))
      <select name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals">
        <option value="">(SELECT)</option>
        #foreach ($key in $investigators.keySet())
          <option value="$key" #if($!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")==$key)SELECTED#end>$investigators.get($key)</option>
        #end
      </select>
    #else
      <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")"/>
    #end
  #elseif ($displayField.getDataType().equalsIgnoreCase("float"))
    <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")"/>
  #elseif ($displayField.getDataType().equalsIgnoreCase("double"))
    <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")"/>
  #elseif ($displayField.getDataType().equalsIgnoreCase("decimal"))
    <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.${displayField.Id}_equals" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}_equals")"/>
  #else
    <INPUT size="10" type="text" name="${schemaElement.getFullXMLName()}.$displayField.Id" value="$!search.getWebFormValue("${schemaElement.getFullXMLName()}.${displayField.Id}")"/>
  #end
#end

#macro (xdatSearchElement $schemaElement $cols)
  #set($elementDisplay = $schemaElement.Display)
  #if($elementDisplay)
    #if ($elementDisplay.getCustomSearchVM())
    <!-- FOUND CUSTOM $schemaElement.getName() Search -->
      #parse($elementDisplay.getCustomSearchVM())
    #else
      #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
      #set($days = [ 1..31 ])
      #set($years = [ 1901..$!turbineUtils.getYear()])
      <TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
          #foreach ($displayRow in $elementDisplay.getSearchableFields($cols))
          <TR >
            #foreach ($displayField in $displayRow)
              <TD>$displayField.Header</TD>
              <TD>
                #xdatSearchField($schemaElement $displayField)
              </TD>
            #end
          </TR>
          #end
      </TABLE>
    #end
  #end
#end
#macro (xdatHiddenSearchForm $schemaElement $cols)
  #set($elementDisplay = $schemaElement.Display)
  #if($elementDisplay)
    <script type="text/javascript">
    <!--
    function toggleSearch() // 1 visible, 0 hidden
    {
        if (document.getElementById)
      {
        if (document.getElementById('hidden_search').style.display=='none')
        {
          document.getElementById('hidden_search').style.display = 'block';
            document.getElementById('hide_search').value="Search <<<";
        }else{
          document.getElementById('hidden_search').style.display = 'none';
            document.getElementById('hide_search').value="Search >>>";
        }
      }
      else if (document.all)
      {
          if (document.all['hidden_search'].style.display=='none')
        {
          document.all['hidden_search'].style.display = 'block';
            document.getElementById('hide_search').value="Search <<<";
        }else{
          document.all['hidden_search'].style.display = 'none';
            document.getElementById('hide_search').value="Search >>>";
        }
      }
    }
    // -->
    </script>
    <input id="hide_search" type="button" onClick="toggleSearch()" value="Search >>>">
    <span ID="hidden_search" style="position:relative; display:none;">
        #xdatSearchForm($schemaElement $cols)
    </span>
  #end
#end

#macro (xdatSearchForm $schemaElement $cols)
  <FORM name="search" method="post" action="$link.setAction("DisplaySearchAction")">
    <TABLE>
      <TR>
        <TD>
          #xdatSearchElement($schemaElement $cols)
        </TD>
      </TR>
      <TR><TD ALIGN=right><input type="hidden" name="ELEMENT_0" value="${schemaElement.getFullXMLName()}"/><input type="submit" name="eventSubmit_doPerform" value="Submit Search"/></TD></TR>
    </TABLE>
  </FORM>
#end

##END

#macro (header $body $size)
      <font face="$ui.sansSerifFonts" size="$size">
        <b>$!body</b>
      </font>
#end

#macro ( booleanCheckbox $booleanField )
 <input type="checkbox" name="$booleanField.Key" value="true"
#if ($booleanField.Value) checked #end />
   <input type="hidden" name="$booleanField.ValueIfAbsent" value="false" />
#end

#macro (formCheckBox $label $field)
  <th>
        $label
  </th>
  <td bgcolor="$ui.formFieldColor">
    #booleanCheckbox($field)
  </td>
#end


#macro (ynDropDownBox $booleanField)
 <select name="$booleanField.Key">
   <option value="Y">Y</option>
   <option value="N">N</option>
 </select>
#end

#macro (formConciseCheck $label $booleanField)
  <td bgcolor="$ui.formFieldColor">
    #booleanCheckbox($booleanField)
    <b>
       $label
    </b>
</td>
#end

#macro (formXDATCheckBox $label $field $value)
<td bgcolor="$ui.formFieldColor">
    <input type="checkbox" name="$field" value="true" #if ($value) checked #end />
    <b>
       $label
    </b>
</td>
#end

#macro (formIntakeErrorMessage $field)
  <td bgcolor="$ui.formFieldColor">
      <font face="$ui.sansSerifFonts" size="2" color="red">
      $!field.Message
    </font>
  </td>
#end

#macro (formIntakeTextFieldWValue $field $value)
  <td bgcolor="$ui.formFieldColor">
  #if (!$field.isValid())
      <font face="$ui.sansSerifFonts" size="2" color="red">
      $!field.Message<br>
    </font>
  #end
      <input type="text" size="20" name="$field.Key" value="$!value">
  </td>
#end

#macro (formIntakeTextFieldWValueSize $field $value $size)
  <td bgcolor="$ui.formFieldColor">
  #if (!$field.isValid())
      <font face="$ui.sansSerifFonts" size="2" color="red">
      $!field.Message<br>
    </font>
  #end
      <input type="text" size="$size" name="$field.Key" value="$!value">
  </td>
#end

#macro (formXDATValidatedField $field $value)
  <td bgcolor="$ui.formFieldColor">
    #if ($vr)
      #if($vr.getField("$field"))
        <font color="red">$!vr.getField("$field")</font><BR>
      #end
    #end
      <input type="text" size="20" name="$field" value="$!value">
    </td>
#end

#macro (formIntakeTextField $field )
  <td bgcolor="$ui.formFieldColor">
  #if (!$field.isValid())
      <font face="$ui.sansSerifFonts" size="2" color="red">
      $!field.Message<br>
    </font>
  #end
      <input type="text" size="20" name="$field.Key" value="$!field">
  </td>
#end

#macro (formTextFieldS $field $value $size)
  <td bgcolor="$ui.formFieldColor">
      <input type="text" size="$size" name="$field" value="$value">
  </td>
#end


#macro (formTextField $field $value)
  #formTextFieldS($field $value 20)
#end

#macro (text $text)
  <font face="$ui.sansSerifFonts">
    $text
  </font>
#end

#macro (formLabel $label)
  <TH style="text-align: left; vertical-align: text-top; white-space:nowrap">$label</TH>
#end

#macro (formLabelRequired $label)
  <TH style="text-align: left; vertical-align: text-top; white-space:nowrap">
    $label
    <span style="color:red; font-size=1.2em;">*</span>
  </TH>
#end

#macro (formSublabel $label)
  <TD style="text-align: right; vertical-align: text-top; white-space:nowrap">$label</TD>
#end

#macro (formUnderlineLabel $label)
  <th><u>
        $label
    </u>
  </th>
#end

#macro (textField $name $value $size)
    <input type="text" size="$size" name="$name" value="$value">
#end

#macro (listBox $list)
    $list
#end

#macro (formPasswordCell $label $name $value)
  #formLabel($label)
  <td bgcolor="$ui.formFieldColor">
      <input type="password" size="20" name="$name" value="$value" autocomplete="off">
  </td>
#end

#macro (formCell $label $name $value)
  #formLabel($label)
  #formTextField($name $value)
#end

#macro (fileUploadField $name)
  <td bgcolor="$ui.formFieldColor">
      <input type="file" size="30" name="$name">
  </td>
#end

#macro (fileUpload $label $name)
  #formLabel($label)
  #fileUploadField($name)
#end

#macro (formListBox $label $list)
  <th>
        $label
  </th>
  <td bgcolor="$ui.formFieldColor">
    $list
  </td>
#end

#* ------------------------------------------------------------------
#
# Macros that are used for displaying information in tables.
#
*# ------------------------------------------------------------------

#macro (headerCell $body $size)
 <TH ALIGN="left">$!body</TH>
#end

#macro (smallHeaderCell $body $size)
  <th valign="center" style="padding-top:0px; padding-right:20px; padding-bottom:0px; padding-left:5px;">
      $!body
  </th>
#end

#macro (headerSpan2Cell $body $size)
  <th valign="center" colspan="2">
      $!body
  </th>
#end

#macro (smallEntryCell $body $size)
  <td valign="center" style="padding-top:0px; padding-right:20px; padding-bottom:0px; padding-left:5px;" >
      $!body
  </td>
#end

#macro (entryCell $body $size)
  <td valign="left" nowrap>
      $!body
  </td>
#end

#* Added by Tim *#
#macro (imageCell $imageLink)
  <td valign="center" align="center">
    <img src="$content.getURI("$!imageLink")" border=0>
  </td>
#end

#macro (elementActions $element $search_field $search_value $user $item $actions)
<style>
div.ic{
  width:18px;
  display:inline;
}
div.ic_spacer{
  width:10px;
  display:inline;
}
</style>
#set($previousLink=$link.getLink())
        #foreach ($actionGroup in $actions)
         #if($actionGroup.getGroup()!="")
           <li class="yuimenuitem" style="margin-bottom:2px">
     <a class="yuimenuitemlabel" href="#${actionGroup.group}box"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>$actionGroup.group</a>
            <DIV ID="${actionGroup.group}box" class="yuimenu">
             <DIV class="bd">
              <ul class="first-of-type">
         #end
         #foreach ($actionObject in $actionGroup.getActions())
            #set($canAccess = "true")
            #set($li_class = "")
            #if($actionObject.getSecureAccess().equalsIgnoreCase("edit"))
                #if ($item.canEdit($user))
                    #set($canAccess = "true")
                #else
                    #set($canAccess = "false")
                #end
				#set($li_class = "lockable")
            #elseif($actionObject.getSecureAccess().equalsIgnoreCase("read"))
                #if ($item.canRead($user))
                    #set($canAccess = "true")
                #else
                    #set($canAccess = "false")
                #end
            #elseif($actionObject.getSecureAccess().equalsIgnoreCase("create"))
                #if ($item.canCreate($user))
                    #set($canAccess = "true")
                #else
                    #set($canAccess = "false")
                #end
				#set($li_class = "lockable")
            #elseif($actionObject.getSecureAccess().equalsIgnoreCase("delete"))
                #if ($item.canDelete($user))
                    #set($canAccess = "true")
                #else
                    #set($canAccess = "false")
                #end
				#set($li_class = "lockable")
            #elseif($actionObject.getSecureAccess().equalsIgnoreCase("activate"))
                #if ($item.canActivate($user))
                    #set($canAccess = "true")
                #else
                    #set($canAccess = "false")
                #end
            #end

            #if($actionObject.getParameterString())
                #set($additionalParameters=$actionObject.getParameterString())
            #else
                #set($additionalParameters="")
            #end

            #set($width=$actionObject.getPopupWidth())
            #set($height=$actionObject.getPopupHeight())

            #if($canAccess.equalsIgnoreCase("true"))
             #if ($actionObject.getPopup() && $actionObject.getPopup()=="always")
<li class="yuimenuitem $!li_class">
                          <A href="" ONCLICK="return popupWithProperties('${link.setAction("XDATActionRouter").addPathInfo("xdataction",$actionObject.getName()).addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",'true').addPathInfo("project","$!project")}$!additionalParameters','','width=$!width,height=$!height,status=yes,resizable=yes,scrollbars=yes,toolbar=no');"><div class="ic">#if($actionObject.hasImage())<img border="0" src="$content.getURI("images/$actionObject.getImage()")"/>#else&nbsp;#end</div><div class="ic_spacer">&nbsp;</div>$actionObject.getDisplayName()</A>
                          </li>
                #elseif($actionObject.getPopup() && $actionObject.getPopup()=="sometimes")
                    #if ($popup=="true")
<li class="yuimenuitem $!li_class">
<A HREF="${link.setAction("XDATActionRouter").addPathInfo("xdataction",$actionObject.getName()).addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",$dataPopup).addPathInfo("project","$!project")}$!additionalParameters" ><div class="ic">#if($actionObject.hasImage())<img border="0" src="$content.getURI("images/$actionObject.getImage()")"/>#else&nbsp;#end</div><div class="ic_spacer">&nbsp;</div>$actionObject.getDisplayName()</a>
</li>
                    #else
<li class="yuimenuitem $!li_class">
                            <A href="" ONCLICK="return popupWithProperties('${link.setAction("XDATActionRouter").addPathInfo("xdataction",$actionObject.getName()).addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",'true').addPathInfo("project","$!project")}$!additionalParameters','','width=$!width,height=$!height,status=yes,resizable=yes,scrollbars=yes,toolbar=no');"><div class="ic">#if($actionObject.hasImage())<img border="0" src="$content.getURI("images/$actionObject.getImage()")"/>#else&nbsp;#end</div><div class="ic_spacer">&nbsp;</div>$actionObject.getDisplayName()</A>
</li>
                    #end
                #else
<li class="yuimenuitem $!li_class">
<A HREF="${link.setAction("XDATActionRouter").addPathInfo("xdataction",$actionObject.getName()).addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",$dataPopup).addPathInfo("project","$!project")}$!additionalParameters" ><div class="ic">#if($actionObject.hasImage())<img border="0" src="$content.getURI("images/$actionObject.getImage()")"/>#else&nbsp;#end</div><div class="ic_spacer">&nbsp;</div>$actionObject.getDisplayName()</a>
</li>
                #end
             #end
            #end
       #if($actionGroup.getGroup()!="")
           </ul>
          </div>
         </div>
        </li>
           #end
      #end
#end

#macro (elementActionsBoxNoEnd $element $search_field $search_value $user $item)
    #set ($dataPopup = $turbineUtils.GetPassedParameter("popup",$data))
    #if($dataPopup)
    #else
      #set ($dataPopup = "false")
    #end
    #set ($elementSecurity = $element.getElementSecurity())
    #if ($elementSecurity)
        #set ($actions = $elementSecurity.getElementActionsByGroupings())
        #if ($actions.size() > 0)
<script type="text/javascript">
YAHOO.util.Event.onContentReady("actionsMenu", function () {
    var actionsMenu = new YAHOO.widget.Menu("actionsMenu", { autosubmenudisplay: true,scrollincrement:5,position:"static"});
    // Render the MenuBar instance
    actionsMenu.getItem(0).cfg.setProperty("disabled",true);
    actionsMenu.render();
    actionsMenu.show();
});
</script>
      <!-- actions menu -->
    <DIV id="actionsMenu" class="yuimenu" style="display:none">
     <DIV class="bd">
      <ul class="first-of-type">
             <li class="yuimenuitem">
            <a class="yuimenuitemlabel">Actions</A>
           </li>
      </ul>
      <ul>
        #elementActions($element $search_field $search_value $user $item $actions)
        #end
    #end
#end

## EndElementActionsBox
## Used in conjunction with ElemnetActionsBoxNoEnd to correctly close out
## the macro without copy pasting code.
##
#macro (endElementActionsBox )
      </ul>
     </DIV>
    </DIV>
#end

#macro (elementActionsBox $element $search_field $search_value $user $item)
    #set ($dataPopup = $turbineUtils.GetPassedParameter("popup",$data))
    #if($dataPopup)
    #else
      #set ($dataPopup = "false")
    #end
    #set ($elementSecurity = $element.getElementSecurity())
    #if ($elementSecurity)
        #set ($actions = $elementSecurity.getElementActionsByGroupings())
        #if ($actions.size() > 0)
<script type="text/javascript">
YAHOO.util.Event.onContentReady("actionsMenu", function () {
    var actionsMenu = new YAHOO.widget.Menu("actionsMenu", { autosubmenudisplay: true,scrollincrement:5,position:"static"});
    // Render the MenuBar instance
    actionsMenu.getItem(0).cfg.setProperty("disabled",true);
    actionsMenu.render();
    actionsMenu.show();
});
</script>
      <!-- actions menu -->
    <DIV id="actionsMenu" class="yuimenu" style="display:none">
     <DIV class="bd">
      <ul class="first-of-type">
             <li class="yuimenuitem">
            <a class="yuimenuitemlabel">Actions</A>
           </li>
      </ul>
      <ul>
        #elementActions($element $search_field $search_value $user $item $actions)
              </ul>
     </DIV>
    </DIV>
        #end
    #end
#end


#macro(displayFileSystem $directory)
<TABLE>
#foreach($f in $directory.listFiles())
 <TR>
 #if($f.isDirectory())
   <TD><b>$f.getName()</b></TD>
   <TD>#displayFileSystem($f)</TD>
 #else
   <TD>$f.getName()</TD>
   <TD>$f.length()</TD>
 #end
 </TR>
#end
</TABLE>
#end

#macro(renderTopListType $type)
 #if($data.getSession().getAttribute("user").getBrowseableElementDisplay($type))
  #set($typeObject=$data.getSession().getAttribute("user").getBrowseableElementDisplay($type))
  #if($project)
          #if($project.getId())
             #if($data.getSession().getAttribute("user").canCreate("$typeObject.getElementName()/project",$project.getId()))
                 <li class="yuimenuitem">
            <a class="yuimenuitemlabel" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element",$typeObject.getElementName())/project/$!project.getId()">$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()</a>
           </li>
       #end
          #else
             #if($data.getSession().getAttribute("user").canCreate("$typeObject.getElementName()/project",$project))
                 <li class="yuimenuitem">
            <a class="yuimenuitemlabel" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element",$typeObject.getElementName())$!projectString">$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()</a>
           </li>
       #end
          #end
  #else
                 <li class="yuimenuitem">
            <a class="yuimenuitemlabel" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element",$typeObject.getElementName())">$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()</a>
           </li>
  #end
 #else
 <!-- no object found -->
 #end
#end

#macro(escapeHTML $s)
$!turbineUtils.escapeHTML($s)
#end

#macro(escapeJS $s)
$!turbineUtils.escapeJS($s)
#end

#macro(selectEmployment $value $item $vr)
    #if ($vr)
        #if($vr.getField($name))
            <span style="color: red; ">&#8658</span>
        #end
    #end
    #set($employment=$!item.getProperty($value))
    <select name="$value">
        <option value="" #if ( "" == $employment) selected="true" #end>(SELECT)</option>
        <option value="0" #if ( 0 == $employment) selected="true" #end>Employed</option>
        <option value="1" #if ( 1 == $employment) selected="true" #end>Unemployed</option>
        <option value="2" #if ( 2 == $employment) selected="true" #end>Retired</option>
        <option value="3" #if ( 3 == $employment) selected="true" #end>Unknown or N/A</option>
    </select>
#end

#macro(renderEmployment $value)
    #set ($employment = "")
    #if($value == 0)
        #set ($employment = "Employed")
    #elseif($value == 1)
        #set ($employment = "Unemployed")
    #elseif($value == 2)
        #set ($employment = "Retired")
    #elseif($value == 3)
        #set ($employment = "Unknown or N/A")
    #end
    $!employment
#end


#macro(auditTable $reason $action)
	#if($showReason)
	<table>
		#auditBoxes("1" "" $reason $action)
	</table>
	#end
#end

#macro(auditBoxes $span $align $reason $action)
	#if($showReason)
	<tr>
		<td colspan="$span" align="$align">
			<input type="hidden" name="event_action" value="$!action"/>
			<input type="hidden" name="event_type" value="WEB_FORM"/>
			<div class="justification">Justification (Why are you completing this form?)<BR/>
				<textarea rows="3" cols="70" id="event_reason" name="event_reason" #if($requireReason) class="required" #end>$!reason</textarea>
			</div>
		</td>	
	</tr>
	#end
#end

##Used to load globally scoped VM files and inject them into parent VMs.
#macro(addGlobalCustomScreens $subFolder)
	#foreach($screenProps in $turbineUtils.getTemplates($subFolder))
		#set($templateFileName=$screenProps.getProperty("path"))
		#if($data.getSession().getAttribute("user").getUsername()=="guest")
			#if($turbineUtils.toBoolean($screenProps.getProperty("allowGuest"),"false"))
				#parse("/screens/$templateFileName")
			#end
		#elseif($screenProps.getProperty("adminOnly"))
			#if($turbineUtils.toBoolean($data.getSession().getAttribute("user").checkRole("Administrator"),"false"))
				#parse("/screens/$templateFileName")
			#end
		#elseif($data.getSession().getAttribute("user").getUsername())
				#parse("/screens/$templateFileName")
		#end
	#end
#end

##Used to load  VM files for specfic data-types and their extensions and inject them into parent VMs.
#macro(addCustomScreens $dataType $subFolder)
	#foreach($screenProps in $turbineUtils.getTemplates($dataType,$subFolder))
		#set($templateFileName=$screenProps.getProperty("path"))
		#if($data.getSession().getAttribute("user").getUsername()=="guest")
			#if($turbineUtils.toBoolean($screenProps.getProperty("allowGuest"),"false"))
				#parse("/screens/$templateFileName")
			#end
		#elseif($screenProps.getProperty("adminOnly"))
			#if($turbineUtils.toBoolean($data.getSession().getAttribute("user").checkRole("Administrator"),"false"))
				#parse("/screens/$templateFileName")
			#end
		#elseif($data.getSession().getAttribute("user").getUsername())
				#parse("/screens/$templateFileName")
		#end
	#end
#end
