#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="hideChangePasswordForm" type="java.lang.Boolean" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="topMessage" type="java.lang.String" *#
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($template = $data.getTemplateInfo())
#set ($token = $data.getParameters().getString("token"))
#set ($login = $data.getParameters().getString("login"))
$!template.setLayoutTemplate("NoMenu.vm")
$page.setTitle("XDAT -- Change Password")
$page.setBgColor($ui.bgcolor)
<DIV VALIGN="top">
    #parse("/screens/newPasswordValidationJS.vm")

    <form name="form2" id="changePasswordForm" method="post" action="$link.setAction("XDATChangePassword")" onSubmit="return XNAT.app.changepassword.validateForm();">
        #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
            #if ($key!="action" && $key!="template" &&$key!="password" &&$key!="phone" &&$key!="comments" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception")
                <input type="hidden" name="$key"
                       value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">
            #end
        #end
        <table valign="top" align="center">
            #if ( $data.getMessage() )
                <tr>
                    <td colspan="2">
                        <font color="#FF0000" size="2" face="verdana,geneva,helvetica">
                            $data.getMessage()<br>
                        </font>
                    </td>
                </tr>
            #end
            #if (!$hideChangePasswordForm)
                <tr>
                    <TH colspan="2"><font size="+1" style="line-height:20px;">$!topMessage</font></TH>
                </tr>
                <tr>
                    <TD colspan="2">
                        <hr/>
                    </TD>
                </tr>
                <tr>
                    #formLabelRequired("New Password")
                    <TD><input type="password" id="xdat:user.primary_password" name="xdat:user.primary_password"
                               autocomplete="off"></TD>
                </tr>
                <tr>
                    #formLabelRequired("Re-enter new password")
                    <TD><input type="password" id="xdat:user.password_check" name="xdat:user.primary_password"
                               autocomplete="off"></TD>
                </tr>
                <tr>
                    <td></td>
                    <td align="left">
                        <font face="$ui.sansSerifFonts">
                            <input type="hidden" name="xdat:user.login" value="$!{login}">
                            <input type="hidden" name="xdat:user.xdat_user_id" value="$!{login}">
                            <input type="submit" value="Change" id="Change">
                        </font>
                    </td>
                </tr>
            #end
        </table>
    </form>
</DIV>
