##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
<SCRIPT language="javascript">
window.resizeTo(200,300);
</SCRIPT>
<CENTER>
#if ($data.message)
	<font color="red" size="2">$data.message</font>
	<br>
#else
	
#end
<BR><INPUT TYPE="Button" VALUE="CLOSE" ONCLICK="if (window.opener && !window.opener.closed) {
window.opener.location.reload();
} window.close()">
</CENTER>