##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ($data.getMessage())
<BR><DIV class="error">$data.message</DIV><br><BR>
#else
<font face="$ui.sansSerifFonts" size=4 style="line-height:18px;"><p><b>An error has occured.</b></p></font><BR>
#end 
<font face="$ui.sansSerifFonts" size=4 style="line-height:18px;"><p>Please contact your IT staff or the application logs for more information.</p></font>