##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<font face="$ui.sansSerifFonts" size="3"><b>$element_name fields.<b></font><BR>
<BR>

<SCRIPT LANGUAGE="JavaScript"><!--
function updateParent(fieldName,header,type) {
    opener.document.form1.$!{textID}.value = fieldName;
    #if($typeID)
    	opener.document.form1.$!{typeID}.value = type;
    #end
    #if($headerID)
    	opener.document.form1.$!{headerID}.value = header;
    #end
    self.close();
    return false;
}
//--></SCRIPT>

<TABLE>
	<TR>
		<TH align=left>ID</TH>
		<TH align=left>Header</TH>
		<TH align=left>Type</TH>
		<TH align=left>Summary</TH>
	</TR>
#foreach($field in $fields)
	<TR>
		<TD><A href="" ONCLICK="return updateParent('${field.get(0)}','${field.get(1)}','${field.get(3)}');">$field.get(0)</A></TD>
		<TD>$field.get(1)</TD>
		<TD>$field.get(3)</TD>
		<TD>$field.get(2)</TD>
	</TR>
#end
</TABLE>