<script type="text/javascript" src="$content.getURI("scripts/user/validateUsername.js")"></script>
<script type="text/javascript">
    XNAT.app.changepassword = {
        validateForm: function(e){
            // create a few shortcuts
            var validateInput = XNAT.app.changepassword.validateInput;
            var validators = XNAT.app.changepassword.validators;
	   
            // execute the validators on the fields, creating a list of boolean results for each field.
            var validations = [validateInput('xdat:user.primary_password', [validators.nonEmpty]),
                               validateInput('xdat:user.password_check', [validators.nonEmpty, 
                                                                          validators.valuesMatch('xdat:user.primary_password')])]
	   
            // if any of the validations failed, stop form submission
            for (var i=0; i < validations.length; i++){
            	if (!validations[i]){
            		return false;
            	}
            }
            return true;
        },
        validateInput: function(inputId, validators){
            var input = document.getElementById(inputId);
            for (var i=0; i < validators.length; i++){
                var validator = validators[i];
                if (!validator(input)){
                    XNAT.app.changepassword.validationError(input);
                    return false;
                }
            }

            XNAT.app.changepassword.validationSuccessful(input);
            return true;
        },
        validationError: function(input){
            appendImage(input, "/images/checkmarkRed.gif");
        },
        validationSuccessful: function(input){
            appendImage(input, "/images/checkmarkGreen.gif");
        },
        /* Collection of validation functions */
        validators: {
            nonEmpty: function(input){
               return input.value.trim().length > 0;
	        },
	        valuesMatch: function(inputIdToCompare){
                var inputToCompare = document.getElementById(inputIdToCompare);
            	return function(input) {
	        		return inputToCompare.value == input.value;
	        	}
	        },
            regex: function(regex){
                return function(input){
                	return input.value.match(regex)
                }
            }
}
    };

</script>