##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<p align=left>
<TABLE border="0" width="95%">
	<TR>
		<TD align=left align="left">
			<form name="form1" method="post" action="$link.setAction("ModifyUserPrivileges")">
			<table border="0" align="left">
				<tr>
					<TH align=left>User Details</TH>
				</tr>
				<tr>
					<td>
						<table border="0">
							<tr>
								<TD width="90" align=left>Username:</TD><TD>$!item.getProperty("login")</TD>
							</tr>
							<tr>
								<TD align=left>First Name:</TD><TD>$!item.getProperty("firstname")</TD>
							</tr>
							<tr>
								<TD align=left>Last Name:</TD><TD>$!item.getProperty("lastname")</TD>
							</tr>
							<tr>
								<TD align=left>Email:</TD><TD>$!item.getProperty("email")</TD>
							</tr>
							<tr>
								<TD align=left>Encrypted Password:</TD><TD>#if($item.getBooleanProperty("primary_password.encrypt"))YES #else NO #end</TD>
							</tr>
							<tr>
								<TD align=left>Enabled:</TD><TD>#if($item.getBooleanProperty("enabled"))YES #else NO #end</TD>
							</tr>
							<tr>
								<TD align=left>Authenticated:</TD><TD>#if($item.isActive())YES #else NO #end</TD>
							</tr>
						</table>
					</td>
				</tr>
				<TR>
					<TD align=left valign=top>&nbsp;
					</td>
				</tr>
				<TR>
					<TD align=left valign=top>
						<TABLE border="0">
							<TR>
								<TD VALIGN="top">
									<Table border="0">
										<TR><TH>Roles</TH></TR>
										#set ($tempCount = 0)
										#foreach ($roleObject in $roles)
											<TR>
												<TD>
												#if ($userObject.checkRole($roleObject.getProperty("role_name")))
													<INPUT TYPE="checkbox" name="xdat:user.assigned_roles.assigned_role__${tempCount}.role_name" value="$roleObject.getProperty("role_name")" CHECKED/>&nbsp;$roleObject.getProperty("role_name") ($roleObject.getProperty("description"))
												#else
													<INPUT TYPE="checkbox" name="xdat:user.assigned_roles.assigned_role__${tempCount}.role_name" value="$roleObject.getProperty("role_name")"/>&nbsp;$roleObject.getProperty("role_name") ($roleObject.getProperty("description"))
												#end
												</TD>
											</TR>
											#set ($tempCount=$tempCount+1)
										#end
									</TABLE>
								</TD>
								<TD VALIGN="top">
									<Table border="0">
										<TR><TH align=left>Bundles</TH></TR>
										#foreach ($bundle in $allBundles)
											<TR>
												<TD>
												#if($userObject.canReadStoredSearch($bundle.get("id")))
													<INPUT TYPE="checkbox" name="bundle_$bundle.get("id")" value="$bundle.get("id")" CHECKED/>&nbsp;$bundle.get("description")
												#else
													<INPUT TYPE="checkbox" name="bundle_$bundle.get("id")" value="$bundle.get("id")" />&nbsp;$bundle.get("description")
												#end
												</TD>
											</TR>
										#end
									</TABLE>
								</TD>
							</TR>
						</TABLE>
						
					</TD>
				</TR>
				<TR>
					<TD align=left valign=top>&nbsp;
					</td>
				</tr>
				<TR>
					<TD align=left valign=top>
						<Table border="0">
							#set($permissionCount = 0)
							<TR><TH align="left">User Specific Permissions<BR><BR></TH></TR>
							#foreach ($elementManager in $allElements)
							#set($elementName = $elementManager.get(0))
							#set($permissionCount = $permissionCount + 1)
							#set($elementSQLName = $elementManager.get(2))
							<script language="JavaScript1.3">
								function ${elementSQLName}CheckAll(checkAll,type)
								{
									var change=null;
									var node=null;
									#foreach ($perimissionItem in $elementManager.get(1))
										change = "${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_" + type;
										node = document.getElementById(change);
										node.checked=checkAll.checked;
									#end
								}
							</script>
							<TR><TD align="left"><A NAME="LINK${permissionCount}" HREF="#LINK${permissionCount}" onClick=" return blocking($permissionCount);"><img ID="IMG$permissionCount" src="$content.getURI("images/plus.jpg")" border=0>&nbsp;&nbsp;$elementName</A></TD></TR>
							<TR>
								<TD>
									<span ID="span$!permissionCount" style="position:relative; display:none;">
										<TABLE border="0">
											<TR><TH width="200">&nbsp;</TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'C');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'R');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'E');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'D');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'A');"/></TH></TR>
											<TR><TH width="200">&nbsp;</TH><TH>Create</TH><TH>Read</TH><TH>Edit</TH><TH>Delete</TH><TH>Activate</TH></TR>
											#foreach ($perimissionItem in $elementManager.get(1))
											<TR>
												<TD width="200">$perimissionItem.getDisplayName()
												#if($perimissionItem.getFullFieldName().endsWith("sharing/share/project"))
												(BORROWED)
												#elseif($perimissionItem.getFullFieldName().endsWith("/project"))
												(OWNED)
												#end
																								<INPUT type="hidden" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_wasSet" value="${perimissionItem.wasSet()}"/>
												<INPUT type="hidden" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_type" value="equals"/></TD>
												<!--<TD><select name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_type">
													<option value="equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("equals"))SELECTED #end>=</option>
													<option value="greater then" #if($perimissionItem.getComparison_type().equalsIgnoreCase("greater then"))SELECTED #end>></option>
													<option value="less then" #if($perimissionItem.getComparison_type().equalsIgnoreCase("less then"))SELECTED #end><</option>
													<option value="greater then or equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("greater then or equals"))SELECTED #end>>=</option>
													<option value="less then or equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("less then or equals"))SELECTED #end><=</option>
													<option value="like" #if($perimissionItem.getComparison_type().equalsIgnoreCase("like"))SELECTED #end>LIKE</option>
													</select>
												</TD>-->
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_C" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_C" #if($perimissionItem.canCreate())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_R" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_R" #if($perimissionItem.canRead())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_E" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_E" #if($perimissionItem.canEdit())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_D" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_D" #if($perimissionItem.canDelete())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_A" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_A" #if($perimissionItem.canActivate())CHECKED #end /></TD>
											</TR>
											#end
										</TABLE>
									</span>
								</TD>
							</TR>
							#end
						</TABLE>
					</TD>
				</TR>
				<INPUT type="hidden" name="xdat:user.login" value="$!item.getProperty("login")"/>
				#xdatEditProps($item $edit_screen)
				<TR>
					<TD ALIGN=left>&nbsp;<BR><input type="submit" name="eventSubmit_doPerform" value="Submit"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="eventSubmit_doEmail" value="Submit for Authorization"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="eventSubmit_doPrint" value="Print Authorization"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" ONCLICK="javascript:history.go(-1)" value="Back"/>
					</TD>
				</TR>
			</table>
			</form>
		</TD>
	</TR>	
</table>
</p>