##<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form name="form1" method="post" action="$link.setAction("ModifyGroupPrivileges")">
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>UserGroup Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>ID</TD><TD>#xdatStringBox("xdat:userGroup/ID" $item "" $vr)</TD></TR>
							<TR><TD>Display Name</TD><TD>#xdatStringBox("xdat:userGroup/displayName" $item "" $vr)</TD></TR>
													#xdatHiddenBox("xdat:userGroup/xdat_userGroup_id" $item "")
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>	
		<TD>
<!-- BEGIN xdat:userGroup -->
<Table border="0">
							#set($permissionCount = 0)
							<TR><TH align="left">User Permissions<BR><BR></TH></TR>
							#foreach ($elementManager in $allElements)
							#set($elementName = $elementManager.get(0))
							#set($permissionCount = $permissionCount + 1)
							#set($elementSQLName = $elementManager.get(2))
							<script language="JavaScript1.3">
								function ${elementSQLName}CheckAll(checkAll,type)
								{
									var change=null;
									var node=null;
									#foreach ($perimissionItem in $elementManager.get(1))
										change = "${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_" + type;
										node = document.getElementById(change);
										node.checked=checkAll.checked;
									#end
								}
							</script>
							<TR><TD align="left"><A NAME="LINK${permissionCount}" HREF="#LINK${permissionCount}" onClick=" return blocking($permissionCount);"><img ID="IMG$permissionCount" src="$content.getURI("images/plus.jpg")" border=0>&nbsp;&nbsp;$elementName</A></TD></TR>
							<TR>
								<TD>
									<span ID="span$!permissionCount" style="position:relative; display:none;">
										<TABLE border="0">
											<TR><TH width="200">&nbsp;</TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'C');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'R');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'E');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'D');"/></TH><TH align="left">All<BR><INPUT type="checkbox" ONCLICK="${elementSQLName}CheckAll(this,'A');"/></TH></TR>
											<TR><TH width="200">&nbsp;</TH><TH>Create</TH><TH>Read</TH><TH>Edit</TH><TH>Delete</TH><TH>Activate</TH></TR>
											#foreach ($perimissionItem in $elementManager.get(1))
											<TR>
												<TD width="200">$perimissionItem.getDisplayName()
												#if($perimissionItem.getFullFieldName().endsWith("sharing/share/project"))
												(SHARED)
												#elseif($perimissionItem.getFullFieldName().endsWith("/project"))
												(OWNED)
												#end
												<INPUT type="hidden" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_wasSet" value="${perimissionItem.wasSet()}"/>
																								<INPUT type="hidden" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_type" value="equals"/></TD>
												<!--<TD><select name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_type">
													<option value="equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("equals"))SELECTED #end>=</option>
													<option value="greater then" #if($perimissionItem.getComparison_type().equalsIgnoreCase("greater then"))SELECTED #end>></option>
													<option value="less then" #if($perimissionItem.getComparison_type().equalsIgnoreCase("less then"))SELECTED #end><</option>
													<option value="greater then or equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("greater then or equals"))SELECTED #end>>=</option>
													<option value="less then or equals" #if($perimissionItem.getComparison_type().equalsIgnoreCase("less then or equals"))SELECTED #end><=</option>
													<option value="like" #if($perimissionItem.getComparison_type().equalsIgnoreCase("like"))SELECTED #end>LIKE</option>
													</select>
												</TD>-->
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_C" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_C" #if($perimissionItem.canCreate())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_R" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_R" #if($perimissionItem.canRead())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_E" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_E" #if($perimissionItem.canEdit())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_D" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_D" #if($perimissionItem.canDelete())CHECKED #end /></TD>
												<TD><INPUT id="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_A" type="checkbox" name="${elementName}_${perimissionItem.getFullFieldName()}_${perimissionItem.getValue()}_A" #if($perimissionItem.canActivate())CHECKED #end /></TD>
											</TR>
											#end
										</TABLE>
									</span>
								</TD>
							</TR>
							#end
						</TABLE>
<!-- END xdat:userGroup -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR>
		   <TD COLSPAN=2 ALIGN=left>
		      <input type="submit" name="eventSubmit_doPerform" value="Submit"/>
				#if ($turbineUtils.GetPassedParameter("popup",$data)=="true")
				<input type="button" name="btnBack" value="Back" onClick="history.go(-1)"/>
				#end
		   </TD>
		</TR>
		</TD>
	</TR>
</TABLE>
</form>
