<!-- Title: Anonymization -->
<div class="mgmt_container">
    <div id="anonymization_mgmt_div" class="row">
        <p>
            This is the site-wide anonymization script applied to all incoming and archiving DICOM resources. This script
            can also be supplemented by anonymization operations specified at the $displayManager.getSingularDisplayNameForProject().toLowerCase() level.
        </p>
        <p><label for="anonScript">Script:</label></p>
        <textarea id="anonScript" name="anonScript" rows="20" cols="80" disabled></textarea>
    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="anonymization_save_button" onclick="window.anonymizationManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="anonymization_reset_button" onclick="window.anonymizationManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">

    $('#anonScript').bind('input propertychange', function() {
        if (!window.anonymizationManager.wasDirty()) {
            window.anonymizationManager.dirtyForm();
        }
    });

    function configurationAnonymizationTabChange(obj) {
        if(obj.newValue.get("href")=="#anonymization") {
            if(window.anonymizationManager==undefined) {
                window.anonymizationManager = new SettingsTabManager('anonymization_mgmt_div', anonymizationControls);
            }
        }
    }

    function addAnonymizationMgmtMonitor(){
        if(window.configurationTabView.get("activeTab").get("href")=="#anonymization") {
            if(window.anonymizationManager==undefined) {
                window.anonymizationManager = new SettingsTabManager('anonymization_mgmt_div', anonymizationControls);
            }
        } else {
            window.configurationTabView.subscribe("activeTabChange", configurationAnonymizationTabChange);
        }
    }

    YAHOO.util.Event.onDOMReady(addAnonymizationMgmtMonitor);
    var anonymizationControls = ['anonScript'];

</script>
