<!-- Title: DICOM Receiver -->
<div class="mgmt_container">
    <div id="dicom_receiver_mgmt_div">
        <p>This configuration comes from <i>WEB-INF/conf/dicom-import-context.xml</i> and is not currently editable here.  See the XNAT documentation for detailed information about configuration of the DICOM SCP.</p>

        <p>
            <b>Port Number:</b>&nbsp;&nbsp;&nbsp;<span id="dcmPortLabel"></span><input type="hidden" id="dcmPort"/>
            <small>This is the port number to which C-STORE SCUs (scanners and other clients sending data) should connect.</small>
        </p>

        <p>
            <b>DICOM AE Title(s):</b>&nbsp;&nbsp;&nbsp;<span id="dcmAeLabel"></span><input type="hidden" id="dcmAe"/>
            <small>These are the SCP Application Entity (AE) title(s).</small>
        </p>

        <p>
            <b>DICOM receiver Enabled?</b>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="enableDicomReceiver" onchange="window.dicomReceiverManager.dirtyForm();" disabled />
            <small>Should the DICOM receiver listen for connections?</small>
            <small><span style="color:red;font-weight:bold;">Caution:</span>&nbsp;Changes to this setting will take effect immediately. Before disabling the receiver, verify that there are no transmissions currently in progress.</small>
        </p>

    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="dicomReceiver_save_button" onclick="window.dicomReceiverManager.saveTabSettings();" disabled/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="dicomReceiver_reset_button" onclick="window.dicomReceiverManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">
function configurationDicomReceiverTabChange(obj) {
    if(obj.newValue.get("href")=="#dicomReceiver") {
        if(window.dicomReceiverManager==undefined) {
            window.dicomReceiverManager = new SettingsTabManager('dicom_receiver_mgmt_div', dicomReceiverControls);
        }
    }
}

function addDicomReceiverMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#dicomReceiver") {
        if(window.dicomReceiverManager==undefined) {
            window.dicomReceiverManager = new SettingsTabManager('dicom_receiver_mgmt_div', dicomReceiverControls);
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationDicomReceiverTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addDicomReceiverMgmtMonitor);
var dicomReceiverControls = ['dcmPort', 'dcmAe', 'enableDicomReceiver'];
</script>
