<!-- Title: DICOM Receiver -->
<table id="mgmt_container">
    <tr>
        <td>
            <div id="dicom_receiver_mgmt_div">
                <table>
                    <tr>
                        <th align="left">Port Number</th>
                        <td><input size="30" type="text" id="dcmPort" onchange="this.value=stringCamelCaps(this.value); window.dicomReceiverManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">This is the port number to which C-STORE SCUs (scanners and other clients sending data) should connect. It is also the port that the SCP listens to, unless a different port has been configured using the DICOM.port property in WEB-INF/conf/DICOM-SCP.properties. See the XNAT documentation for detailed information about advanced configuration of the DICOM SCP.</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height:4px">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left">DICOM AE Title</th>
                        <td><input size="30" type="text" id="dcmAe" onchange="window.dicomReceiverManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">This is the SCP Application Entity (AE) title.</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height:4px">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left">Applet Link</th>
                        <td><input type="checkbox" id="dcmAppletLink" onchange="window.dicomReceiverManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">Should a prominent link to the applet show up on the left bar of the index page?</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<input type="button" value="Save" name="eventSubmit_doPerform" id="dicomReceiver_save_button" onclick="window.dicomReceiverManager.saveTabSettings();"/>&nbsp;
<input type="button" value="Reset" name="eventSubmit_doReset" id="reset_button" onclick="window.dicomReceiverManager.resetForm();" disabled/>

<script language="javascript">
function configurationDicomReceiverTabChange(obj) {
    if(obj.newValue.get("href")=="#dicomReceiver") {
        if(window.dicomReceiverManager==undefined) {
            window.dicomReceiverManager = new SettingsTabManager('dicom_receiver_mgmt_div', dicomReceiverControls);
        }
    }
}

function addDicomReceiverMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#dicomReceiver") {
        if(window.dicomReceiverManager==undefined) {
            window.dicomReceiverManager = new SettingsTabManager('dicom_receiver_mgmt_div', dicomReceiverControls);
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationDicomReceiverTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addDicomReceiverMgmtMonitor);
var dicomReceiverControls = ['dcmPort', 'dcmAe', 'dcmAppletLink'];
</script>
