<!-- Title: File System -->
<div class="mgmt_container">

    <div id="file_system_mgmt_div">

        <p>
            <label for="archivePath">Archive Location</label>
            <input size="50" type="text" id="archivePath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Location where files are permanently archived.</small>
        </p>

        <p>
            <label for="checksums" style="width:auto;">Checksums</label> &nbsp;
            <input type="checkbox" id="checksums" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Indicates whether checksums should be calculated for each image file as it's archived. Activating this provides greater assurance of data integrity, but may add significant overhead to the archive process.</small>
        </p>

        <p>
            <label for="prearchivePath">Pre-archive Location</label>
            <input size="50" type="text" id="prearchivePath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Location where files are temporarily stored before they are archived.</small>
        </p>

        <p>
            <label for="cachePath">Cache Location</label>
            <input size="50" type="text" id="cachePath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Location where deleted files are copied to (to prevent accidental deletion of files).</small>
        </p>

        <p>
            <label for="buildPath">Build Location</label>
            <input size="50" type="text" id="buildPath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Directory where temporarily processing information should be stored. This folder should exist, but not have any files or sub-directories in it.</small>
        </p>

        <p>
            <label for="ftpPath">FTP Location</label>
            <input size="50" type="text" id="ftpPath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Directory where FTP Server will store files. This folder should exist, but not have any files or sub-directories in it. (Use and installation of the XNAT FTP Server is optional, but this field must be set).</small>
        </p>

        <p>
            <label for="pipelinePath">Pipeline Installation Location</label>
            <input size="50" type="text" id="pipelinePath" onchange="window.fileSystemManager.dirtyForm();" disabled/>
            <small>Location of XNAT Pipeline engine. By default, the pipeline engine is already installed in XNAT_HOME/pipeline. This location should be matched here. Change this to a different setting only if you have re-installed the Pipeline engine in another location.</small>
        </p>

    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="fileSystem_save_button" onclick="window.fileSystemManager.saveTabSettings();"/>
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="fileSystem_reset_button" onclick="window.fileSystemManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">



    function configurationFileSystemTabChange(obj) {
        if(obj.newValue.get("href")=="#fileSystem") {
            if(window.fileSystemManager==undefined) {
                window.fileSystemManager = new SettingsTabManager('file_system_mgmt_div', 'fileSystem');
            }
        }
    }

    function addFileSystemMgmtMonitor(){
        if(window.configurationTabView.get("activeTab").get("href")=="#fileSystem") {
            if(window.fileSystemManager==undefined) {
                window.fileSystemManager = new SettingsTabManager('file_system_mgmt_div', 'fileSystem');
            }
        } else {
            window.configurationTabView.subscribe("activeTabChange", configurationFileSystemTabChange);
        }
    }

    YAHOO.util.Event.onDOMReady(addFileSystemMgmtMonitor);
    putConfigurationControls('fileSystem', ['archivePath', 'checksums', 'prearchivePath', 'cachePath', 'buildPath', 'ftpPath', 'pipelinePath']);
</script>
