<!-- Title: Notifications -->
<div class="mgmt_container">

    <div id="notifications_mgmt_div">

        <p>Specify subscribers for notification by username or email address.
            If by email address, the email address must belong to a valid system user.
            You can specify multiple users by separating the usernames or email addresses with a comma.</p>

        <div class="row">
            <table style="margin-left:50px;">
                <tr>
                    <th align="left"><label for="error">Errors:</label></th>
                    <td><input size="40" type="text" id="error" name="error" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="issue">Issues:</label></th>
                    <td><input size="40" type="text" id="issue" name="issue" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="newUser">New Users:</label></th>
                    <td><input size="40" type="text" id="newUser" name="newUser" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="update">Updates:</label></th>
                    <td><input size="40" type="text" id="update" name="update" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
            </table>
        </div>

        <p>
            <label for="emailAllowNonuserSubscribers">Allow non-user subscribers?</label>
            <input type="checkbox" id="emailAllowNonuserSubscribers" name="emailAllowNonuserSubscribers" onchange="window.siteInfoManager.dirtyForm();" />
            <small>
                Indicates whether this site should restrict email addresses for site notifications to addresses that are
                associated with valid active users of the XNAT installation? If turned on, the site is more secure from
                exploitation as a spam relay, but restricts the addresses that can be used when alerting administrators
                to system events.
            </small>
        </p>

    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="notifications_save_button" onclick="window.notificationsManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="notifications_reset_button" onclick="window.notificationsManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">
function configurationNotificationsTabChange(obj) {
    if(obj.newValue.get("href")=="#notifications") {
        if(window.notificationsManager==undefined) {
                window.notificationsManager = new SettingsTabManager('notifications_mgmt_div', 'notifications');
        }
    }
}

function addNotificationsMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#notifications") {
        if(window.notificationsManager==undefined) {
                window.notificationsManager = new SettingsTabManager('notifications_mgmt_div', 'notifications');
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationNotificationsTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addNotificationsMgmtMonitor);
    putConfigurationControls('notifications', ['error', 'issue', 'newUser', 'update', 'emailAllowNonuserSubscribers']);
</script>
