#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
<!-- Title: Registration -->
<div class="mgmt_container">

    <div id="registration_mgmt_div">

        <p>
            <label for="requireLogin">Require Login?</label>
            <input type="checkbox" id="requireLogin" onchange="window.registrationManager.dirtyForm();" disabled />
            <small>If true, then only registered users will be able to access your site. If false, anyone visiting
                your site will automatically be logged in as 'guest' with access to public data.</small>
        </p>

        <p>
            <label for="enableNewRegistrations">Auto-enable User Accounts?</label>
            <input type="checkbox" id="enableNewRegistrations" onchange="window.registrationManager.dirtyForm();" disabled />
            <small>If true, user accounts will be enabled automatically when the user registers. Users will be able to access the site and any 'public'
                $displayManager.getPluralDisplayNameForProject().toLowerCase() immediately. If false, the site administrator will be required to manually
                enable user accounts. Either way the administrator receives an email notification when a user registers.</small>
        </p>

        <p>
            <label for="emailVerification">User Email Verification?</label>
            <input type="checkbox" id="emailVerification" onchange="window.registrationManager.dirtyForm();" disabled />
            <small>If true, users will receive an email after registering for an account and must click a link in the email to verify their
                email address before they are able to use their account. If false, no verification emails will be sent and users will not be
                required to verify their email before using their account. Either way the administrator receives an email notification when a
                user registers.</small>
        </p>

    </div>

    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="registration_save_button" onclick="window.registrationManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset resetButton" value="Reset" name="eventSubmit_doReset" id="registration_reset_button" onclick="window.registrationManager.resetForm();" disabled/>
    </div>

</div>


<script type="text/javascript">
function configurationRegistrationTabChange(obj) {
    if(obj.newValue.get("href")=="#registration") {
        if(window.registrationManager==undefined) {
                window.registrationManager = new SettingsTabManager('registration_mgmt_div', 'registration');
        }
    }
}

function addRegistrationMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#registration") {
        if(window.registrationManager==undefined) {
                window.registrationManager = new SettingsTabManager('registration_mgmt_div', 'registration');
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationRegistrationTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addRegistrationMgmtMonitor);
    putConfigurationControls('registration', ['requireLogin', 'enableNewRegistrations', 'emailVerification']);
</script>
