<!-- Title: Registration -->
<table id="mgmt_container">
    <tr>
        <td>
            <div id="registration_mgmt_div">
                <table>
                    <tr>
                        <th align="left">Require Login?</th>
                        <td><input type="checkbox" id="requireLogin" onchange="window.registrationManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">If true, then only registered users will be able to access your site. If false, anyone visiting your site will automatically be logged in as 'guest' with access to public data.</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height:4px">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left">Auto-enable User Accounts?</th>
                        <td><input type="checkbox" id="enableNewRegistrations" onchange="window.registrationManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">If true, user accounts will be enabled automatically when the user registers. Users will be able to access the site and any 'public' projects immediately. If false, the site adminstrator will be required to manually enable user accounts. Either way the administrator receives an email notification when a user registers.</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<input type="button" value="Save" name="eventSubmit_doPerform" id="registration_save_button" onclick="window.registrationManager.saveTabSettings();"/>&nbsp;
<input type="button" value="Reset" name="eventSubmit_doReset" id="reset_button" onclick="window.registrationManager.resetForm();" disabled/>

<script language="javascript">
function configurationRegistrationTabChange(obj) {
    if(obj.newValue.get("href")=="#registration") {
        if(window.registrationManager==undefined) {
            window.registrationManager = new SettingsTabManager('registration_mgmt_div', registrationControls);
        }
    }
}

function addRegistrationMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#registration") {
        if(window.registrationManager==undefined) {
            window.registrationManager = new SettingsTabManager('registration_mgmt_div', registrationControls);
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationRegistrationTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addRegistrationMgmtMonitor);
var registrationControls = ['requireLogin', 'enableNewRegistrations'];
</script>
