#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
<!-- Title: Scan Type Mapping -->
<div class="mgmt_container">
    <div id="scanTypeMapping_mgmt_div" class="row">
        <p>
            This is the site level setting for scan type mapping. It will apply to all $displayManager.getPluralDisplayNameForProject().toLowerCase() that
            do not specifically choose a setting.
        </p>
        <TABLE cellpadding="5" cellspacing="0">
            <TR>
                <TD NOWRAP><input id="yes_scan_type_mapping" type="radio" name="scanTypeMapping" value="true" checked="checked" onchange="dirty()"/> YES</TD>
                <TD>Incoming scans will have their type attribute set based on historical scan type mapping data.</TD>
            </TR>
            <TR>
                <TD NOWRAP><input id="no_scan_type_mapping"  type="radio" name="scanTypeMapping" value="false" onchange="dirty()"/> NO</TD>
                <TD>Incoming scans will have their type attribute set to be identical to their series description.</TD>
            </TR>
        </TABLE>
    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="scanTypeMapping_save_button" onclick="window.scanTypeMappingManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="scanTypeMapping_reset_button" onclick="window.scanTypeMappingManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">

    function dirty() {
        if (window.scanTypeMappingManager && !window.scanTypeMappingManager.wasDirty()) {
            window.scanTypeMappingManager.dirtyForm();
        }
    }

    function configurationScanTypeMappingTabChange(obj) {
        if(obj.newValue.get("href")=="#scanTypeMapping") {
            if(window.scanTypeMappingManager==undefined) {
                window.scanTypeMappingManager = new SettingsTabManager('scanTypeMapping_mgmt_div', 'scanTypeMapping');
                var asdfasg = 2;
            }
        }
    }

    function addScanTypeMappingMgmtMonitor(){
        if(window.configurationTabView.get("activeTab").get("href")=="#scanTypeMappingDefault") {
            if(window.scanTypeMappingManager==undefined) {
                window.scanTypeMappingManager = new SettingsTabManager('scanTypeMapping_mgmt_div', 'scanTypeMapping');
            }
        } else {
            window.configurationTabView.subscribe("activeTabChange", configurationScanTypeMappingTabChange);
        }
    }

    YAHOO.util.Event.onDOMReady(addScanTypeMappingMgmtMonitor);
    putConfigurationControls('scanTypeMapping', ['scanTypeMapping']);
</script>
