#* @vtlvariable name="initialize" type="java.lang.Boolean" *#
#* @vtlvariable name="link" type="org.apache.turbine.util.template.TemplateLink" *#
<!-- title: Site Information -->
<!-- divName: siteInfo -->
<div class="mgmt_container">

    <div id="site_info_mgmt_div">
        <script>
            function changeSiteDescriptionType(radioEl){
                var text = $('#siteDescriptionText');
                var page = $('#siteDescriptionPage');
                window.siteInfoManager.dirtyForm();
                if($(radioEl).val() == 'Text'){
                    text.show();
                    page.hide();
                } else {
                    page.show();
                    text.hide();
                }
            };
        </script>

        <p>
            <label for="siteId">Site ID</label>
            <input size="30" type="text" id="siteId" onchange="this.value=stringCamelCaps(this.value); window.siteInfoManager.dirtyForm();" />
            <small>The id used to refer to this site (also used to generate database ids). No spaces or non-alphanumeric characters. It should be a short,
                one-word name or acronym which describes your site.</small>
            <br/>
            <label for="siteDescription" style="vertical-align: top;">Site Description</label>
            <span style="display: inline-block; vertical-align: top;">
                <input type="radio" name="siteDescriptionType" id="siteDescriptionTypeText" value="Text" onchange="changeSiteDescriptionType(this);" checked="checked">
                <label for="siteDescriptionTypeText" style="width:50px;">&nbsp;Text</label><br/>
                <input type="radio" name="siteDescriptionType" id="siteDescriptionTypePage" value="Page" onchange="changeSiteDescriptionType(this);">
                <label for="siteDescriptionTypePage" style="width:50px;">&nbsp;Page</label>
            </span>
            <input size="30" type="text" name="siteDescriptionPage" id="siteDescriptionPage" onchange="window.siteInfoManager.dirtyForm();" style="display: none;" />
            <textarea name="siteDescriptionText" id="siteDescriptionText" style="width: 440px; margin-bottom: -5px;" onchange="window.siteInfoManager.dirtyForm();"></textarea>
            <small>A short description of this site to be displayed on the login page.</small>
        </p>

        <p>
            <label for="siteUrl">Site URL</label>
            <input size="30" type="text" id="siteUrl" onchange="window.siteInfoManager.dirtyForm();" />
            <small>The address you want visible to users in emails, and other external links.  This should be a functional address (i.e. if the user pasted
                this address in their web browser, they should come to the site).  localhost only works if the web browser is located on the same machine.
                You are required to guarantee that this address is functional for reaching the site.</small>
        </p>

        <p>
            <label for="siteAdminEmail">Site Admin Email Address</label>
            <input size="30" type="text" id="siteAdminEmail" onchange="window.siteInfoManager.dirtyForm();" />
            <small>The administrative email account to receive system emails. This address will receive frequent emails on system events, such as errors,
                processing completion, new user registration and so on.  The number of emails can be configured on the
                <a href="$link.setPage("XDATScreen_emailSpecifications.vm")">Administer &gt; More Options... &gt; Set email settings</a> dialog.</small>
        </p>

        <p>
            <label for="siteLoginLanding">Site Login Landing Page</label>
            <input size="30" type="text" name="siteLoginLanding" id="siteLoginLanding" onchange="window.siteInfoManager.dirtyForm();" />
            <label for="siteLandingLayout" style="padding-left: 20px; width: 50px;">Layout</label>
            <select name="siteLandingLayout" id="siteLandingLayout" value="menu">
                <option value="/Index.vm">Menu</option>
                <option value="/NoMenu.vm">No Menu</option>
                <option value="/Noninteractive.vm">Non-Interactive</option>
            </select>
            <small>The page and default layout users will land on immediately after logging in.</small>
            <br/>
            <label for="siteHome">Site Home Page</label>
            <input size="30" type="text" name="siteHome" id="siteHome" onchange="window.siteInfoManager.dirtyForm();" />
            <label for="siteHomeLayout" style="padding-left: 20px; width: 50px;">Layout</label>
            <select name="siteHomeLayout" id="siteHomeLayout" value="menu">
                <option value="/Index.vm">Menu</option>
                <option value="/NoMenu.vm">No Menu</option>
                <option value="/Noninteractive.vm">Non-Interactive</option>
            </select>
            <small>The page and default layout users will land on by clicking the "Home" link in the menu bar.</small>
        </p>

        <p>
            <label for="showapplet">Applet Link</label>
            <input type="checkbox" id="showapplet" onchange="window.siteInfoManager.dirtyForm();" />
            <small>Should a prominent link to the applet show up on the left bar of the index page?</small>
        </p>

        <p>
            <label for="enableCsrfToken">Enable CSRF Token?</label>
            <input type="checkbox" id="enableCsrfToken" onchange="window.siteInfoManager.dirtyForm();" />
            <small>Should this site require the use of a token to prevent CSRF attacks on POST, PUT, and DELETEs?</small>
            <br/>
            <label for="enableCsrfEmail">Enable CSRF Email Alerts?</label>
            <input type="checkbox" id="enableCsrfEmail" onchange="window.siteInfoManager.dirtyForm();" />
            <small>Should this site send an email to the site admin whenever a CSRF attack is attempted?</small>
        </p>

        <p>
            <label for="restrictUserListAccessToAdmins" style="width: 290px;">Restrict user list access to site administrators?</label>
            <input type="checkbox" id="restrictUserListAccessToAdmins" onchange="window.siteInfoManager.dirtyForm();" />
            <small>
                Should this site restrict access to the list of system users to site administrators only? If turned on,
                the site is more secure, but this restricts project owners from being able to administer users in their
                projects directly.
            </small>
        </p>

    </div>

    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="siteInfo_save_button" onclick="window.siteInfoManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="siteInfo_reset_button" onclick="window.siteInfoManager.resetForm();" disabled/>
    </div>

</div>

<script type="text/javascript">
function configurationSiteInfoTabChange(obj) {
    if(obj.newValue.get("href")=="#siteInfo") {
        initializeSiteInfoMgmtTab();
    }
}

function addSiteInfoMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#siteInfo") {
        initializeSiteInfoMgmtTab();
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationSiteInfoTabChange);
    }
}

function initializeSiteInfoMgmtTab() {
    if(window.siteInfoManager==undefined) {
        if (window.initializing) {
            var postLoad = function() {
                if(window.anonymizationManager==undefined) {
                    window.anonymizationManager = new SettingsTabManager('anonymization_mgmt_div', 'anonymization');
                }
                if(window.appletManager==undefined) {
                    window.appletManager = new SettingsTabManager('applet_mgmt_div', 'applet');
                }
                if(window.dicomReceiverManager==undefined) {
                    window.dicomReceiverManager = new SettingsTabManager('dicom_receiver_mgmt_div', 'dicomReceiver');
                }
                if(window.fileSystemManager==undefined) {
                    window.fileSystemManager = new SettingsTabManager('file_system_mgmt_div', 'fileSystem');
                }
                if(window.notificationsManager==undefined) {
                    window.notificationsManager = new SettingsTabManager('notifications_mgmt_div', 'notifications');
                }
                if(window.registrationManager==undefined) {
                    window.registrationManager = new SettingsTabManager('registration_mgmt_div', 'registration');
                }
            };
        }
        window.siteInfoManager = new SettingsTabManager('site_info_mgmt_div', 'siteInfo', postLoad);
    } else {
        window.siteInfoManager = new SettingsTabManager('site_info_mgmt_div', 'siteInfo');
    }
}

YAHOO.util.Event.onDOMReady(addSiteInfoMgmtMonitor);
putConfigurationControls('siteInfo', ['siteId', 'siteDescriptionType', 'siteDescriptionText', 'siteDescriptionPage', 'siteUrl', 'siteAdminEmail', 'siteLoginLanding', 'siteLandingLayout', 'siteHome', 'siteHomeLayout', 'showapplet', 'enableCsrfToken', 'enableCsrfEmail', 'restrictUserListAccessToAdmins']);
</script>
