$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xnat-templates/layouts/Index -->

<table id="wrapper_table" cellpadding="0" cellspacing="0">
    <tr id="DefaultTopTR">
        <td height="60"  #if($turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
            $navigation.setTemplate("/DefaultTop.vm")
        </td>
    </tr>
    <tr>
        #if($turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar","true")))
            <td class="leftBar" align="left" valign="top">
                <!-- DefaultLeft -->
                $navigation.setTemplate("/DefaultLeft.vm")
                <!-- /DefaultLeft -->
            </td>
        #end
        <td align="left" valign="top">
            <div id="tp_fm"></div>
            <div id="layout_content2" style="display:none;">Loading...</div>
            <div id="layout_content" class="main">
                <!--BEGIN SCREEN CONTENT -->
                $screen_placeholder
                <!--END SCREEN CONTENT -->
            </div>
        </td>
    </tr>
    <tr id="DefaultBottomTR">
        <td valign="bottom"  #if($turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
            $navigation.setTemplate("/DefaultBottom.vm")
        </td>
    </tr>
</table>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
