<!DOCTYPE html>
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!--[if lt IE 7 ]> <html class="ie ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<!-- Search -->
<head>
<title>$!systemName</title>
$navigation.setTemplate("/HeaderIncludes.vm")

</head>
<body style="margin-top:0px" id="page_body" class="yui-skin-sam">
<table WIDTH="100%" HEIGHT="100%" VALIGN="top" style="">
	<tr>
		<td VALIGN="top" align="left" style="">
<table border="0" width="100%" ID="DefaultTopTR" style="">
  <tr>
    <td>
      $navigation.setTemplate("/DefaultTop.vm")
    </td>
  </tr>
</table>
  <div id="tp_fm"></div>
<table border="0" width="100%">
  <tr>
   <td valign="top" align="center">
    <div id="layout_content">$screen_placeholder</div>
   </td>
  </tr>
</table>
		</td>
	</tr>
	<tr>
		<td ALIGN="right">
			<table valign="bottom">
				<tr>
				    <td valign="bottom" align="right">
						<div valign="bottom" align="right"><a href="http://www.xnat.org"><img src="$content.getURI("images/xnat_power_small.jpg")" border=0></a></div>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
