##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<HTML>
<HEAD>
<TITLE>$!systemName</TITLE>
$navigation.setTemplate("/HeaderIncludes.vm")
<!-- LOGIN -->
</HEAD>
<BODY>

<table width="100%" height="100%" valign="top" border=0>
  <tr>
    <td align="left" valign="top">
      $screen_placeholder
    </td>
  </tr>
</table>
</BODY>
</HTML>