$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xnat-templates/layouts/Viewer -->

<table width="100%" height="100%" valign="top" border=0>
  <tr>
    <td align="left" valign="top">
      $screen_placeholder
    </td>
  </tr>
</table>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
