<!-- manage project & subject -->
			<script type="text/javascript" LANGUAGE="javascript" src="$content.getURI('scripts/subjectAssessorData/proj_tools.js')"></SCRIPT>
			<div class="withColor withThinBorder">
<table border="0" cellpadding=5>
 <tr>
  <th align="left">$displayManager.getSingularDisplayNameForProject()</th>
  <td>
			#parse($turbineUtils.getTemplateName("project.vm",$om.getXSIType(),$project,"edit"))
  </td>
 </tr>
 <tr>
  <th align="left">$displayManager.getSingularDisplayNameForSubject()</th>
  <td>
  			#parse($turbineUtils.getTemplateName("subject.vm",$om.getXSIType(),$project,"edit"))
  </td>
 </tr>
 <tr>
  <th align="left">$displayManager.getSingularDisplayNameForImageSession()</th>
  <td>
  			#parse($turbineUtils.getTemplateName("label.vm",$om.getXSIType(),$project,"edit"))
  </td>
 </tr>

    #addCustomScreens($om.getXSIType() "edit/psl_ext")

</table>
</div>