<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/omUtils.js')"></SCRIPT>
<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/petSessionData/validation.js')"></SCRIPT>
<script type="text/javascript">
function validateForm(){
  if(confirmValues())
  {
     return true;
  }else{
     return false;
  }
} 

</script>