<DIV style="white-space:normal;">$!item.getStringProperty("xnat:projectData/description")</DIV>
			 #if($data.getSession().getAttribute("user").canCreate($project))
   						      <BR><A ID="button1" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">Edit Details</A>
			    #if($data.getSession().getAttribute("user").canDelete($project))
						         <A ID="button3" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","delete").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">Delete</A>
						    #end
						 #end