##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

<!-- start -->
<!-- xnat-templates/navigations/DefaultTop -->

#if($popup)

#else
#if ($turbineUtils.GetPassedParameter("popup",$data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
#else
	#set ($popup = "")
#end
#end

#if($project)
  #set($projectString="/project/$project")
#end

<script type="text/javascript" src="$content.getURI('scripts/jquery/jquery.cookie.js')"></script>
<!-- main_nav interactions -->
<script type="text/javascript">
    jQuery(function(){

        var jq = jQuery.noConflict();

        jq(document).ready(function() {

            // fancy fades on hover
            jq('#main_nav li').hover(
                    function() {
                        jq(this).stop('clearQueue','gotoEnd').find(' > ul').fadeIn(80);
                    },
                    function() {
                        jq(this).stop('clearQueue','gotoEnd').find(' > ul').fadeOut(100);
                    }
            );

            // modifying widths of 2nd level menu
            jq('#main_nav li li').hover(function() {
                var submenu_width = jq(this).outerWidth();
                jq(this).find(' > ul').css({'left':submenu_width+1});
            });

            // give menus with submenus a class of 'more'
            jq('#main_nav li ul , #main_nav li li ul').closest('li').find(' > a').addClass('more');

            // clicking the "Logout" link sets the warning bar cookie to 'OPEN' so it's available if needed on next login
            jq('#logout_user').click(function(){
                jq.cookie('WARNING_BAR','OPEN',{path:'/'});
            });

            if (jq.cookie('WARNING_BAR') == 'CLOSED'){
                // could maybe animate the warning bar, but could lead to missed clicks as page elements animate upwards
                //jq(window).load(function(){
                    //jq('#warning_bar')/*.delay(3000).slideUp(200)*/.hide();
                //});
                jq('#attention_icon').show();
            }
            else {
                //jq.cookie('WARNING_BAR','OPEN',{path:'/'});
                jq('#warning_bar').show();
            }

            jq('#attention_icon').click(function(){
                jq('#warning_bar').slideToggle(200);
            });

            jq('#warning_bar .close').click(function(){
                jq.cookie('WARNING_BAR','CLOSED',{path:'/'});
                jq('#warning_bar').slideUp(200);
            });

        });

    });
</script>
<!-- end main_nav interactions -->


## preloading background images for main_nav
<div id="img_preload" style="display:none;">
    <img src="$content.getURI('images/nav_bkdg.png')" alt="">
    <img src="$content.getURI('images/nav_bkdg_hover.png')" alt="">
</div>

<style type="text/css">
    #attention_icon { float: left ; padding-top: 7px ; padding-left: 11px ; }
    #attention_icon:hover { cursor: pointer ; }
</style>

<div id="user_bar">
    <img id="attention_icon" src="$content.getURI('images/attention.png')" style="display:none;" alt="attention needed - click for more info" title="attention needed - click for more info">
    #if($last_login)
        <span id="last_login">Last login: $turbineUtils.formatDate($last_login,"MM-dd-yyyy hh:mm")</span>
    #end
    #if($data.getSession().getAttribute("user").getUsername()=="guest")
        <span id="user_info">Logged in as: <span style="color:red;">Guest</span> <b>|</b> <a href="$link.setPage("Login.vm")">Login</a> <b>|</b> <a href="$link.setPage("Register.vm")">Register</a></span>
    #elseif($data.getSession().getAttribute("user").getUsername())
    ## use default timeout value from web.xml as the starting text in the "#timeLeft" element
        <span id="user_info">Logged in as: &nbsp;<a href="$link.setPage("XDATScreen_MyXNAT.vm")">$!data.getSession().getAttribute("user").getUsername()</a> <b>|</b><div class="tip_icon" style="margin-right:3px;left:2px;top:3px;">
            <p class="tip shadowed" style="top:20px;z-index:10000;white-space:normal;left:-150px;width:300px;background-color:#ffc;">Your XNAT session will auto-logout after a certain period of inactivity. You can reset that timer without reloading the page by clicking "renew."</p>
        </div>
        Auto-logout in: <pre id="timeLeft">0:15:00</pre> - <a id="timeLeftRenew" href="javascript:;" onClick="handleOk();">renew</a> <b>|</b> <a id="logout_user" href="$link.setAction("LogoutUser")">Logout</a></span>
    #end
    <div class="clear"></div>
</div><!-- /user_bar -->

#if ($sessionCount > 100 || $sessionIpCount > 1 )
<div id="warning_bar" style="display:none;">
    <span class="close"><img src="$content.getURI('images/close.gif')"></span>
    <span>
        ATTENTION: You have $sessionCount sessions open from $sessionIpCount distinct IP addresses.
        <span class="tip_text">(<i>what does this mean?</i>)
            <span class="tip shadowed">
                You may have multiple browsers open or may be logged in from more than one computer. If you believe this is incorrect, please take corrective action. The IP addresses are:
                $sessionIpCsv.
            </span>
        </span>
    </span>
</div>
#end

<div id="header" class="main_header">
    <a id="header_logo" href="$link.setPage("Index.vm")" onmouseover="return true;">
        #parse("/screens/Logo.vm")
    </a>

$navigation.setTemplate("XNATQuickSearch.vm")

    <div id="main_nav">
        <ul>
            #addGlobalCustomScreens("topBar")
        </ul>
    </div><!-- /main_nav -->

</div>  <!-- /header -->


<script type="text/javascript">

    var jq = jQuery.noConflict();

    jq(document).ready(function() {

        // adjust height of header if logo is taller than 65px
        var hdr_logo_height = jq('#header_logo').height();
        if (hdr_logo_height > 65) {
            jq('.main_header').height(hdr_logo_height + 10);
        }

        // adjust width of main nav if logo is wider than 175px
        var hdr_logo_width = jq('#header_logo').width();
        if (hdr_logo_width > 175) {
            jq('#main_nav').width(932 - hdr_logo_width - 30);
        }

        //
        //var recent_proj_height = jq('#min_projects_list > div').height();
        var recent_proj_height = 67 ;
        //jq('#min_projects_list, #min_expt_list').height(recent_proj_height * 5).css({'min-width':349,'overflow-y':'scroll'});

        jq('#min_projects_list').closest('table').addClass('summary').css({
            'margin':0,
            'position':'relative',
            'left':-2
        })

    });

</script>


<script src="$content.getURI("scripts/timeLeft.js")"></script>
