##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if($popup)

#else
#if ($turbineUtils.GetPassedParameter("popup",$data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
#else
	#set ($popup = "")
#end
#end

#if($project)
  #set($projectString="/project/$project")
#end

<DIV>
<DIV class="yui-skin-sam">
 <table cellspacing="0" border="0" width="800px">
  <tr valign="bottom">
   <td class="logo_img" align="left" rowspan="3"><a href="$link.setPage("Index.vm")" onmouseover="return true;">#parse("/screens/Logo.vm")</a>&nbsp;&nbsp;</td>
   <td align="left" valign="top" NOWRAP>
#if($data.getSession().getAttribute("user").getUsername()=="guest")
     <font color="red">Guest</font>&nbsp;&nbsp;<A CLASS="text" style="font-weight:550;text-decoration:underline;" HREF="$link.setPage("Login.vm")">(Login)</A>
     &nbsp;&nbsp;<A CLASS="text" style="font-weight:550;text-decoration:underline;" HREF="$link.setPage("Register.vm")">(Register)</A>
	#elseif($data.getSession().getAttribute("user").getUsername())
	     User: $!data.getSession().getAttribute("user").getUsername()
     <A CLASS="text" style="font-weight:550;text-decoration:underline;" HREF="$link.setAction("LogoutUser")">(Logout)</A>
      <A CLASS="text" style="font-weight:550;text-decoration:underline;" HREF="$link.setPage("XDATScreen_MyXNAT.vm")">(Edit)</A>
      <A CLASS="text" style="font-weight:550;text-decoration:underline;" HREF="$link.setPage("ReportIssue.vm")">(Report a problem)</A>
	#end
   </td>
   <td align="right" valign="top" NOWRAP>
   <style>
   #quickSearchForm{
     margin-bottom:0px;
   }
   </style>
$navigation.setTemplate("XNATQuickSearch.vm")
   </td>
  </tr>
  <tr>
   <td valign="bottom" width="532" colspan="2">
    <DIV id="topMenuBar" class="yuimenubar yuimenubarnav" style="display:none">
     <DIV class="bd">
      <ul class="first-of-type">
		#addGlobalCustomScreens("topBar")       
      </ul>
     </DIV>
    </DIV>
   </td>
  </tr>
 </table>
</DIV>
</DIV>
<SCRIPT language="javascript">
YAHOO.util.Event.onContentReady("topMenuBar", function () {
    var oMenuBar = new YAHOO.widget.MenuBar("topMenuBar", { autosubmenudisplay: true,scrollincrement:5,showdelay:1500});
    // Render the MenuBar instance
    oMenuBar.render();
});
</SCRIPT>