<!-- path: xnat-templates/navigations/htmlClose -->
## may not need this - container for timeout warning
##<div id="timeout_dialog_wrapper"></div>
</div><!-- /page_wrapper -->
<script type="text/javascript" src="$content.getURI('scripts/footer.js')"></script>
</body>
</html>