<!-- Sequence: 40 -->
#if($data.getSession().getAttribute("user").checkRole("Administrator"))

<li><a href="#adminbox">Administer</a>
    <ul>
        #addGlobalCustomScreens("topBar/Administer")
    </ul>
</li>

#end