$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xdat-templates/layouts/Default -->

<table id="wrapper_table" height="100%" border="0" valign="top">
  <tr ID="DefaultTopTR">
    <td height="60" #if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
      $navigation.setTemplate("/DefaultTop.vm")
      <div id="tp_fm"></div>
    </td>
  </tr>
  <tr>
	#if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true")))
    <td class="leftBar" align="left" valign="top">
      $navigation.setTemplate("/DefaultLeft.vm")
    </td>
	#end
    <td align="left" valign="top">
      $navigation.setTemplate("/Breadcrumb.vm")
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">
<!--BEGIN SCREEN CONTENT -->
      $screen_placeholder
<!--END SCREEN CONTENT -->
      </DIV>
    </td>
  </tr>
  <tr ID="DefaultBottomTR">
    <td valign="bottom" #if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
      $navigation.setTemplate("/DefaultBottom.vm")
    </td>
  </tr>
</table>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
