<!DOCTYPE html>
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!--[if lt IE 7 ]> <html class="ie ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<!-- xdat-templates/layouts/Default -->
<head>
<title>$!systemName</title>
$navigation.setTemplate("/HeaderIncludes.vm")
</head>
<body id="page_body" class="yui-skin-sam">
		<!-- DEFAULT -->
<div id="page_wrapper">
<table height="100%" border="0">
  <tr ID="DefaultTopTR">
    <td height="60" #if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
      $navigation.setTemplate("/DefaultTop.vm")
      <div id="tp_fm"></div>
    </td>
  </tr>
  <tr>
	#if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true")))
    <td class="leftBar" align="left" valign="top">
      $navigation.setTemplate("/DefaultLeft.vm")
    </td>
	#end
    <td align="left" valign="top">
      $navigation.setTemplate("/Breadcrumb.vm")
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">
<!--BEGIN SCREEN CONTENT -->
      $screen_placeholder
<!--END SCREEN CONTENT -->
      </DIV>
    </td>
  </tr>
  <tr ID="DefaultBottomTR">
    <td valign="bottom" #if($turbineUtils.toBoolean($configProps.getProperty("UI.show-left-bar","true"))) colspan="2" #end>
      $navigation.setTemplate("/DefaultBottom.vm")
    </td>
  </tr>
</table>
</div> <!-- /page_wrapper -->
</body>
</html>
