##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<HTML>
<HEAD>
<TITLE>$!systemName</TITLE>
$navigation.setTemplate("/HeaderIncludes.vm")
<!-- LOGIN -->
</HEAD>
<BODY id="page_body" class="yui-skin-sam">

<table width="100%" height="100%" valign="top" border=0>
  <tr height="120">
    <td valign="top">
      $navigation.setTemplate("/NoMenuTop.vm")
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">$screen_placeholder</DIV>
    </td>
  </tr>
  <tr height="*"
    <td valign="bottom" height="*">
      $navigation.setTemplate("/DefaultBottom.vm")
    </td>
  </tr>
</table>
</BODY>
</HTML>