<html>
<body id="page_body" class="yui-skin-sam">

<script type="text/javascript">
    // path: xdat-templates/layouts/ScreenOnly
</script>

<div id="tp_fm"></div>
<div id="layout_content2" style="display:none;">Loading...</div>
<div id="layout_content">$screen_placeholder</div>

<script type="text/javascript">
  // end path: xdat-templates/layouts/ScreenOnly
</script>

</body>
</html>