<!DOCTYPE html>
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!--[if lt IE 7 ]> <html class="ie ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<!-- xdat-templates/layouts/XDATScreen_search -->
<HEAD>
<TITLE>$!systemName</TITLE>
$navigation.setTemplate("/HeaderIncludes.vm")
</HEAD>
<BODY onload="selectDefault('xnat:mrSessionData');">

<!-- XDATScreen_search -->
<table width="100%" border=0 >
  <tr>
    <td colspan="2">
      $navigation.setTemplate("/DefaultTop.vm")
    </td>
  </tr>
</table>
<table width="100%" border=0>
  <tr>
    <td align="left" valign="top">
      $navigation.setTemplate("/Breadcrumb.vm")
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">$screen_placeholder</DIV>
    </td>
  </tr>
</table>
</BODY>
</html>