<!-- BEGIN: plugin-resources/webapp/xnat-templates/screens/DownloadApplet.vm -->
<h2>Download Images</h2>
<table border="0" >
    <tr  bgcolor="white">
        <td style="border-style:none;"  valign="top" align="left" colspan="2">
		    <applet code="org.nrg.xnat.fileManager.DownloaderApplet" codebase="$appletPath" archive="file-downloader-1.6.3.jar, xdat-beans-1.6.3.jar, nrgutil-1.1.0.jar, commons-lang-2.6.jar, log4j-1.2.16.jar" width="500" height="500">
			    <param name="session0" value="$catalogXML">
			    <param name="jsessionid" value="$jsessionid">
            </applet>
       </td>
    </tr>
    <tr style="border-style:none;">
        <td style="border-style:none;" colspan="2" >
        </td>
    </tr>
</table>
<script type="text/javascript">
    jq(document).ready(function() {
        // add "applet" class to body to support special handling for applets
        jq('body').addClass('applet');
    });
</script>
<!-- END: plugin-resources/webapp/xnat-templates/screens/DownloadApplet.vm -->
