$msg

<script>
  var breadcrumbs=document.getElementById('breadcrumbs');
  if (breadcrumbs!=null){
    #if ($breadcrumbLinks)
    bread = bread + $breadcrumbLinks;
    #end
    breadcrumbs.innerHTML=bread;
  }
</script>