#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatSubjectdata" *#
#* @vtlvariable name="part_id" type="java.lang.String" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="arc" type="org.nrg.xdat.om.ArcArchivespecification" *#
#* @vtlvariable name="link" type="org.apache.turbine.util.template.TemplateLink" *#
<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
<form id="launchUploadAppletForm" class="noHide" action='$link.setPage("UploadApplet.vm")/popup/true' method="post" target='applet' onsubmit="popupWSize('about:blank',580,840,'applet'); return true;">
    <table border="0">
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2"><h3>Upload Image Sessions</h3></td>
        </tr>
        <tr>
            <td valign="top" align="left" colspan="2">
                <div style="width:500px">
                    DICOM and ECAT files can be uploaded using this online upload tool. Begin by selecting the project,
                    subject, and date for the session you wish to upload and then click the <b>Launch Uploader</b>
                    button. You will need Java installed in order and operational to use the uploader.
                    <a href="http://www.java.com/en/download/testjava.jsp" target="_blank">Check here</a> to verify that
                    your Java is working.
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <th align="left"><label for="project">Project</label></th>
            <td><select id="project" name="project" style="width: 100%;" disabled=true></select></td>
        </tr>
        <tr>
            <th align="left"><label for="part_id">Subject</label></th>
            <td><select id="part_id" name="part_id" style="width: 100%;" disabled=true>
                <option>(Select a project)</option>
            </select></td>
        </tr>
        <tr>
            <th align="left"><label for="session_date">Session Date</label></th>
            <td>
                <input type="text" id="session_date" name="session_date"/>
                <script type="text/javascript">insertCalendar(document.getElementById("session_date"), "Session Date");</script>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="checkbox" id="no_session_date" name="no_session_date" value="true"/> <label for="no_session_date">I don't know the date or my session doesn't have a date</label>
            </td>
        </tr>
        <tr id="visit_entry" style="display: none;">
            <th align="left"><label for="visit_id">Visit</label></th>
            <td><select id="visit_id" name="visit_id" style="width: 100%;" disabled=true>
                <option>(Select a subject)</option>
            </select></td>
        </tr>
        <tr id="session_type_entry" style="display: none;">
            <th align="left"><label for="session_type">Session Type</label></th>
            <td><select id="session_type" name="session_type" style="width: 100%;" disabled=true>
                <option>(SELECT)</option>
                <option value="mr">MR</option>
                <option value="pet-fdg">PET with FDG tracer</option>
                <option value="pet-pib">PET with PIB tracer</option>
            </select></td>
        </tr>
        <script type="text/javascript" LANGUAGE="javascript" src="$content.getURI('scripts/subjectAssessorData/proj_subj_visit_selector.js')"></SCRIPT>
        <script type="text/javascript">
            #set($project = $om.getProject())
            #set($part_id = $om.getId())
            window.projectSubjectVisitManager = new ProjectSubjectVisitSelector("$!project", "$!part_id");
            window.projectSubjectVisitManager.init();
        </script>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td align="left">
                <input type="hidden" id="session_id" name="session_id" value=""/>
                <input type="submit" id="gojuice" name="gojuice" style="line-height:11px;font-size:11px;" value="Launch Uploader" disabled="true"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:500px">Looking for other ways to upload images? <a href="$link.setPage("AlternateImageUpload.vm")">Click here.</a></div>
            </td>
        </tr>
    </table>
</form>
