<form name="form1" method="post" action="$link.setAction("XDATLoginUser")">
  <table>
    <tr>
			      <td align="left">&nbsp;</td>
      #formLabel("User")
  	  <TD><input type="text" name="username" size="15"></TD>
    	#formLabel("Password")
  	  <TD><input type="password" name="password" size="15" autocomplete="off"></TD>
					      <td></td>
      <td align ="left">
        ##<font face="$ui.sansSerifFonts">
        <span class="ui_sansSerifFonts">
        #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
        	#if ($key!="action" && $key!="template" &&$key!="password" &&$key!="username" &&$key!="exception")
        	<input type="hidden" name="$key" value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">	
        	#end
        #end
          <input type="submit" value="Login">
        </span>
        ##</font>
      </td>
			      <td align="left">&nbsp;</td>
      <td>
        <a href="$link.setPage("ForgotLogin.vm")#if($turbineUtils.GetPassedParameter('par',$data))/par/$turbineUtils.GetPassedParameter('par',$data)#end">Forgot login or password?<a>
      </td>
    </tr>
   </table>
</form>
