<form name="form1" method="post" action="$content.getURI('')/j_spring_security_check">
  <table>
    <tr>
      #formLabel("Login via")
	  <td>
			##set( $login_methods = ["Database","LDAP"])
			##$login_methods is now customizable and is added to the context in Login.java in xdat.
			
			#if($login_methods && $login_methods.size()==0)
				#xdatTextBox("login_method" $item "" $vr)
			#else
				#xdatSelectBoxWDefault("login_method" $item $login_methods $vr)
			#end
		</td>
    </tr>
    <tr>
      #formLabel("User")
  	  <TD><input type="text" id="username" name="j_username"></TD>
    </tr>
    <tr>
    	#formLabel("Password")
  	  <TD><input type="password" name="j_password" autocomplete="off"></TD>
    </tr>
    <tr>
					      <td></td>
      <td align ="left">
        <font face="$ui.sansSerifFonts">
        #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
          	#if ($key!="action" && $key!="template" &&$key!="password" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception" &&$key!="username" &&$key!="exception")
            		<input type="hidden" name="$key" value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">	
          	#end
        #end
          <input type="submit" name="login" value="Login">
        </font>
      </td>
    </tr>
   </table>
</form>
