<!-- Title: Features -->

<table id="group-type-features" class="xnat-table features" style="display:none;">
    <thead class="header">
    <tr>
        <th class="featureGroup">Group</th>
        #foreach($feature in $features)
            <th class="featureEnabled">$feature.getName()</th>
        #end
    </tr>
    </thead>
    <tbody id='featureBody'>
    ## body built dynamically in manageFeatures.js
    </tbody>
</table>


##moved common code to manageFeatures.js (also used in ManageProjectFeatures.vm)
<script type="text/javascript" src="$content.getURI("scripts/features/manageFeatures.js")"></script>

<script>
XNAT.app.featureMgr.level="type";

#foreach($feature in $features)
XNAT.app.featureMgr.features.push({"key":"$!feature.getKey()","name":"$!feature.getName()","desc":"$!feature.getDescription()","banned":"$!feature.getBanned().replace("\""," ")"});
#end

XNAT.app.featureMgr.init();
</script>
