<!-- Title: Features -->

<table id="project-features" class="xnat-table features" style="display:none;">
    <thead>
    <tr>
        <th class="featureProject">Project</th>
        <th class="featureGroup">Group</th>
        #foreach($feature in $features)
            <th class="featureEnabled">$feature.getName()</th>
        #end
    </tr>
    </thead>
    <tbody id="featureBody">
    ## body built dynamically in manageFeatures.js
    </tbody>
</table>

##moved common code to manageFeatures.js (also used in ManageGroupTypeFeatures.vm)
<script type="text/javascript" src="$content.getURI("scripts/features/manageFeatures.js")"></script>

<script>
XNAT.app.featureMgr.level="group";
XNAT.app.featureMgr.project="$project";

#foreach($feature in $features)
XNAT.app.featureMgr.features.push({"key":"$!feature.getKey()","name":"$!feature.getName()","desc":"$!feature.getDescription()","banned":"$!feature.getBanned().replace("\""," ")"});
#end


XNAT.app.featureMgr.init();
</script>
