#* @vtlvariable name="username" type="java.lang.String" *#
#* @vtlvariable name="firstName" type="java.lang.String" *#
#* @vtlvariable name="lastName" type="java.lang.String" *#
#* @vtlvariable name="email" type="java.lang.String" *#
#* @vtlvariable name="phone" type="java.lang.String" *#
#* @vtlvariable name="lab" type="java.lang.String" *#
#* @vtlvariable name="comments" type="java.lang.String" *#
#* @vtlvariable name="siteConfig" type="java.util.Properties" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="link" type="org.apache.turbine.util.template.TemplateLink" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
<!-- BEGIN xnat-templates/screens/register_box.vm -->
#parse("/screens/userValidationJS.vm")
<form name="form2" id="registerForm" method="post" action="$link.setAction("XDATRegisterUser")" onSubmit="return XNAT.app.register.validateForm();">
    #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
        #if ($key!="action" && $key!="template" &&$key!="password" &&$key!="phone" &&$key!="comments" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception")
            <input type="hidden" name="$key" value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">
        #end
    #end
    <table valign="top" align="center">
        #if ( $data.getMessage() )
                  <tr>
                <td colspan="2">
                    <DIV class="message">$data.getMessage()</DIV></BR>
                   </td>
                  </tr>
        #end
                  <tr>
            <TH colspan="2"><span style="line-height:20px;">New User Registration</span></TH>
                  </tr>
                  <tr>
            <TD colspan="2"><hr/></TD>
                  </tr>
                  <tr>
            <TH class="thc" colspan="2" align="left">Login Details</TH>
                  </tr>
                  <tr>
            #formLabelRequired("Username")
            <TD><input type="text" class="required alphaNumSP" id="xdat:user.login" name="xdat:user.login" value="$!username" ONCHANGE="validateUsername(this,'Register');"></TD>
                  </tr>
                  <tr>
            #formLabelRequired("Password")
            <TD><input type="password" id="xdat:user.primary_password" name="xdat:user.primary_password" autocomplete="off"></TD>
                  </tr>
                  <tr>
            #formLabelRequired("Re-enter password")
            <TD><input type="password" id="xdat:user.password_check" name="xdat:user.primary_password" autocomplete="off"></TD>
                  </tr>
                  <tr>
            <TD colspan="2"><hr/></TD>
                  </tr>
                  <tr>
            #formLabelRequired("First Name")
            <TD><input type="text" class="required alphaSP" id="xdat:user.firstname" name="xdat:user.firstname" value="$!firstName" onchange="validateName(this, 'First', 'eventSubmit_doSetup');"></TD>
    			              </tr>
                  <tr>
            #formLabelRequired("Last Name")
            <TD><input type="text" class="required alphaSP" id="xdat:user.lastname" name="xdat:user.lastname" value="$!lastName" onchange="validateName(this, 'Last', 'eventSubmit_doSetup');"></TD>
        </tr>
        <tr>
            #formLabelRequired("Email")
            <TD><input type="text" class="required" id="xdat:user.email" name="xdat:user.email" value="$!email" onchange="validateEmail(this,'eventSubmit_doSetup');"></TD>
        </tr>
        <tr>
            #formLabel("Phone")
            <TD><input type="text" name="phone" value="$!phone"></TD>
		                  </tr>
	    
                  <tr>
            #formLabel("Study Site or Lab")
            <TD><input type="text" name="lab" value="$!lab"></TD>
        </tr>
        #if($turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-new-user-comments","true")))
            <tr>
                <TD colspan="2"><hr/></TD>
            </tr>
            <tr>
                <TH align="left">Comments</TH>
                <td>Please include a brief description of how you plan to use this site.</td>
            </tr>
            <tr>
                <TD colspan=2><textarea name="comments" rows="4" cols="50" style="text-align:left;">$!comments</textarea></TD>
            </tr>
        #end
        <tr>
                   <td></td>
            <td align ="left">
                <input type="submit" value="Register" id="Register">
            </td>
                  </tr>               
                 
                 </table>
              </form>
<!-- END xnat-templates/screens/register_box.vm -->
