#set ($popup=$turbineUtils.GetPassedParameter("popup",$data))

$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($data.message)
<DIV class="error">$data.message</DIV><br>
<br/>

#end
<font face="$ui.sansSerifFonts">

<form name="SampleBuild" method="post" action="$link.setAction("SampleBuild")" >

<b>
  ##<font face="verdana,geneva,helvetica ">
	      $displayManager.getSingularDisplayNameForImageSession(): $mr.getId()
  ##</font>
  
</b>

 #set ($email = $user.getEmail())
     #if(!($email==""))
            <p>
                When the build is complete, an email will be automatically sent to $email 
            </p>
    <p>&nbsp;</p>
	    #end
	            <p>
                Send <i>additional</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
    <p>

<input type="hidden" name="pipeline" value=$turbineUtils.GetPassedParameter("pipeline",$data)>
<input type="hidden" name="xnat" value=$turbineUtils.GetPassedParameter("xnat",$data)>

#xdatPassItemFormFields($search_element $search_field $search_value $project)
	    <input type="submit" name="eventSubmit_doPerform" value="Build" />
    			&nbsp;&nbsp;
   		    	<input type="button" ONCLICK="javascript:self.close()" value="Cancel"/>
    	    <p>&nbsp;</p>
    	    
</form>