<DIV class="edit_header2">Search</DIV>
<div>$!systemName currently contains $proj_count Projects, $sub_count Subjects, and $isd_count Imaging Sessions.
</div>
<br/>
<STYLE>
span.spacer{
height:12px;
width:1px;
}
</STYLE>
				<div id="front_search" class="yui-navset">
				</div>
				<script type="text/javascript">
				  var frontTabs=new YAHOO.widget.TabView('front_search');
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'Projects<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:projectData',
				  		  cacheData:true,
				  		  active:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'Subjects<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:subjectData',
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'MR<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:mrSessionData',
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'PET<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:petSessionData',
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'CT<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:ctSessionData',
				  		  cacheData:true
				  }));
				</script>
				
			<br>

<table width="100%">
 <tr>
  <td width="" valign="top">
 <DIV ID="projectsContainer" class="container" style="width:100%;margin:5px;float:left;">
     <DIV class="withColor containerTitle" style="font-weight:700;padding:2px;">Projects</DIV>
						     <DIV ID="projectsBody" class="containerBody" style="height:300px;">
			      #parse("/screens/minProjectsList.vm")
						     </DIV>
						 </DIV>
						  </td>
						  <td width="10">&nbsp;</td>
						  <td width="300" valign="top">
  <DIV ID="dataContainer" class="container" style="width:300;margin:5px;float:right;">
     <DIV class="withColor containerTitle" style="font-weight:700;padding:2px;">Recent Data Activity</DIV>
						     <DIV ID="dataBody" class="containerBody" style="height:300px;">
						     #parse("/screens/recentExptList.vm")
						     </DIV>
						  </DIV>
						  </td>
						 </tr>
						</table>