<script type="text/javascript" src="$content.getURI("scripts/java/deployJava.js")"></script>
<script type="text/javascript">
// The upload applet requires at least Java 1.5 (because of the wizard library).
// We use Java's deployJava.js (http://java.sun.com/javase/6/docs/technotes/guides/jweb/deployment_advice.html)
// to ensure that a supported version of the JRE exists on the client.
// Use an anonymous function to prevent global scope
(function() {
    SUPPORTED_JRE_VERSIONS = ["1.5", "1.6", "1.7"];
    
    function hasSupport(versions) {
        for (var i=0; i < versions.length; i++) {
            if (deployJava.versionCheck(versions[i])) {
                return true;
            }
        }
        return false;
    }

    if (!hasSupport(SUPPORTED_JRE_VERSIONS)) {
        alert("Applet will not work without supported JRE version.  Requires one of " + SUPPORTED_JRE_VERSIONS.join(", "));
    }
})();
</script>

<APPLET CODE="org.nrg.upload.ui.UploadAssistantApplet"
  CODEBASE="$content.getURI("applet/")"
  ARCHIVE="UploadAssistant-0.4.0b4.jar,wizard-0.998.2b1.jar,json-20080701.jar,DicomUtils-1.1.0.jar,DicomEdit-1.3.2.jar,dcm4che-core-2.0.24.jar,dcm4che-net-2.0.24.jar,log4j-1.2.15.jar,slf4j-api-1.6.1.jar,slf4j-log4j12-1.6.1.jar,antlr-runtime-3.2.jar,stringtemplate-3.2.jar,ecat-io-0.1.0.jar,ecat-edit-0.1.2.jar,guava-r08.jar,dicom-xnat-sop-1.5.0b2.jar,dicom-xnat-util-1.5.0b2.jar"
  width="800"
  height="500"
  MAYSCRIPT>

  <PARAM NAME="xnat-url" VALUE="$!arc.getSiteUrl()">
  <PARAM NAME="xnat-admin-email" VALUE="$!arc.getSiteAdminEmail()">
  <PARAM NAME="xnat-description" VALUE="$!arc.getSiteId()">
  <PARAM NAME="n-upload-threads" VALUE="2">
  <PARAM NAME="fixed-size-streaming" VALUE="true">

The XNAT upload applet requires Java (1.5 or greater) to be installed on your computer.
You can get Java <a href="http://java.com/en/download/index.jsp">here</a>.
After installing Java, you will most likely need to restart your browser,
and possibly your computer, before the XNAT upload applet will work.
</APPLET>
