#* @vtlvariable name="session_id" type="java.lang.String" *#
#* @vtlvariable name="scan_type" type="java.lang.String" *#
#* @vtlvariable name="visit_id" type="java.lang.String" *#
#* @vtlvariable name="scan_date" type="java.lang.String" *#
#* @vtlvariable name="subject_id" type="java.lang.String" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="arc" type="org.nrg.xdat.om.ArcArchivespecification" *#
<script type="text/javascript" src="$content.getURI("scripts/java/deployJava.js")"></script>
<div id='appletDiv'>
</div>
<script type="text/javascript">
// The upload applet requires at least Java 1.5 (because of the wizard library).
// We use Java's deployJava.js (http://java.sun.com/javase/6/docs/technotes/guides/jweb/deployment_advice.html)
// to ensure that a supported version of the JRE exists on the client.
// Use an anonymous function to prevent global scope
(function() {
    var SUPPORTED_JRE_VERSIONS = ["1.6", "1.7"];
    
    function hasSupport(versions) {
        for (var i=0; i < versions.length; i++) {
            if (deployJava.versionCheck(versions[i])) {
                return true;
            }
        }
        return false;
    }

    if (!hasSupport(SUPPORTED_JRE_VERSIONS)) {
        alert("Applet will not work without supported JRE version.  Requires one of " + SUPPORTED_JRE_VERSIONS.join(", "));
    }
})();

function loadApplet() {
    var attributes = { code: 'org.nrg.upload.ui.UploadAssistantApplet', codebase: '$content.getURI("applet/")', width: 800, height: 500 };
    var parameters = { jnlp_href: 'UploadAssistantApplet.jnlp', 'xnat-url': '$!arc.getSiteUrl()', 'xnat-admin-email': '$!arc.getSiteAdminEmail()', 'xnat-description': '$!arc.getSiteId()', 'n-upload-threads': '4', 'fixed-size-streaming': 'true' };

#if( $project )
        parameters['xnat-project'] = '$project';
    #if( $subject_id )
            parameters['xnat-subject'] = '$subject_id';
    #end
    #if( $session_id )
            parameters['xnat-session-label'] = '$session_id';
    #end
    #if( $scan_date )
            parameters['xnat-scan-date'] = '$scan_date';
    #end
    #if( $visit_id )
            parameters['xnat-visit-id'] = '$visit_id';
    #end
    #if( $scan_type )
            parameters['xnat-scan-type'] = '$scan_type';
    #end
#end

    deployJava.runApplet(attributes, parameters, '1.6');
}

if (YAHOO.util.Cookie.get("appletLoadNotification") == null) {
    var dialog = new YAHOO.widget.SimpleDialog("dialog", {
        width:"20em",
        close:false,
        fixedcenter:true,
        constraintoviewport:true,
        modal:true,
        icon:YAHOO.widget.SimpleDialog.ICON_WARN,
        visible:true,
        draggable:false,
        buttons: [{ text:'OK', isDefault:true, handler: function() {
            this.hide();
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            YAHOO.util.Cookie.set("appletLoadNotification", true, { expires: tomorrow });
            loadApplet();
        } }]
    });

    dialog.render(document.getElementById('layout_content'));
    dialog.setHeader('Applet now loading...');
    dialog.setBody('This page will load the XNAT image upload applet. This may take some time. Please be patient and allow the applet to fully load. Click <b>OK</b> to begin.');
    dialog.bringToTop();
    dialog.show();
} else {
    loadApplet();
}
</script>
