#* @vtlvariable name="session_id" type="java.lang.String" *#
#* @vtlvariable name="scan_type" type="java.lang.String" *#
#* @vtlvariable name="visit_id" type="java.lang.String" *#
#* @vtlvariable name="session_date" type="java.lang.String" *#
#* @vtlvariable name="subject_id" type="java.lang.String" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="arc" type="org.nrg.xdat.om.ArcArchivespecification" *#
<script type="text/javascript" src="$content.getURI("scripts/java/deployJava.js")"></script>
<div id='appletDiv'>
</div>
<script type="text/javascript">
// The upload applet requires at least Java 1.5 (because of the wizard library).
// We use Java's deployJava.js (http://java.sun.com/javase/6/docs/technotes/guides/jweb/deployment_advice.html)
// to ensure that a supported version of the JRE exists on the client.
// Use an anonymous function to prevent global scope
(function() {
    var SUPPORTED_JRE_VERSIONS = ["1.6", "1.7"];
    
    function hasSupport(versions) {
        for (var i=0; i < versions.length; i++) {
            if (deployJava.versionCheck(versions[i])) {
                return true;
            }
        }
        return false;
    }

    if (!hasSupport(SUPPORTED_JRE_VERSIONS)) {
        alert("Applet will not work without supported JRE version.  Requires one of " + SUPPORTED_JRE_VERSIONS.join(", "));
    }
})();

function loadApplet() {
    var attributes = { code: 'org.nrg.upload.ui.UploadAssistantApplet', codebase: '$content.getURI("applet/")', width: 800, height: 500, archive: 'UploadAssistant-1.6.2-SNAPSHOT.jar, DicomEdit-3.0.0.jar, DicomUtils-1.2.0.jar, antlr-2.7.7.jar, antlr-runtime-3.4.jar, common-1.2.0.jar, commons-codec-1.5.jar, commons-httpclient-3.1.jar, commons-lang-2.6.jar, commons-logging-1.1.1.jar, dcm4che-core-2.0.25.jar, dicom-xnat-sop-1.6.0.jar, dicom-xnat-util-1.6.0.jar, ecat-edit-0.1.2.jar, ecat-io-0.1.0.jar, nrg-framework-1.6.2-SNAPSHOT.jar, guava-12.0.1.jar, java-uuid-generator-3.1.3.jar, jcalendar-1.4.jar, json-20080701.jar, jsr305-1.3.9.jar, log4j-1.2.16.jar, looks-2.4.1.jar, nrgutil-1.0.1.jar, org.restlet-1.1.10.jar, slf4j-api-1.6.6.jar, slf4j-log4j12-1.6.6.jar, stringtemplate-3.2.1.jar, jackson-mapper-asl-1.8.11.jar, jackson-core-asl-1.8.11.jar, spring-beans-3.0.7.RELEASE.jar, spring-core-3.0.7.RELEASE.jar, spring-web-3.0.7.RELEASE.jar, wizard-1.1.jar' };
    var parameters = { 'xnat-url': '$!arc.getSiteUrl()', 'xnat-admin-email': '$!arc.getSiteAdminEmail()', 'xnat-description': '$!arc.getSiteId()', 'n-upload-threads': '4', 'fixed-size-streaming': 'true', 'java_arguments': '-Djnlp.packEnabled=true', 'jsessionid': '$jsessionid'};

parameters['window-name'] = this.window.name;

#if( $project )
        parameters['xnat-project'] = '$project';
    #if( $subject_id )
            parameters['xnat-subject'] = '$subject_id';
    #end
    #if( $session_id )
            parameters['xnat-session-label'] = '$session_id';
    #end
    #if( $session_date )
        parameters['xnat-scan-date'] = '$session_date';
    #end
    #if( $visit_id )
            parameters['xnat-visit-id'] = '$visit_id';
    #end
    #if( $visit )
            parameters['xnat-visit'] = '$visit';
    #end
    #if( $protocol )
            parameters['xnat-protocol'] = '$protocol';
    #end
    #if( $expectedModality )
            parameters['expected-modality'] = '$expectedModality';
    #end
    #if( $scan_type )
            parameters['xnat-scan-type'] = '$scan_type';
    #end
#end
$!appletParams
    deployJava.runApplet(attributes, parameters, '1.6');
}

if (YAHOO.util.Cookie.get("appletLoadNotification") == null) {
    var dialog = new YAHOO.widget.SimpleDialog("dialog", {
        width:"20em",
        close:false,
        fixedcenter:true,
        constraintoviewport:true,
        modal:true,
        icon:YAHOO.widget.SimpleDialog.ICON_WARN,
        visible:true,
        draggable:false,
        buttons: [{ text:'OK', isDefault:true, handler: function() {
            this.hide();
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            YAHOO.util.Cookie.set("appletLoadNotification", true, { expires: tomorrow });
            loadApplet();
        } }]
    });

    dialog.render(document.getElementById('layout_content'));
    dialog.setHeader('Applet now loading...');
    dialog.setBody('This page will load the XNAT image upload applet. This may take some time. Please be patient and allow the applet to fully load. Click <b>OK</b> to begin.');
    dialog.bringToTop();
    dialog.show();
} else {
    loadApplet();
}
</script>

