#set($url = "/xnat/app/template/UploadApplet.vm/popup/true/project/$project/subject_id/$subject_id")
<html>
<head>
    <title>Upload Applet</title>
    <meta http-equiv=refresh content="0; url=$url"/>
    <meta name="robots" content="noindex,follow"/>
</head>
<body>
Now redirecting to: $url
</body>
</html>

