#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="page" type="org.apache.turbine.util.template.HtmlPageAttributes" *#
#* @vtlvariable name="ui" type="org.apache.turbine.services.pull.util.UIManager" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatMrsessiondata" *#
#* @vtlvariable name="project" type="java.lang.String" *#
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
