##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

  <script language = "Javascript">
/**
 * DHTML date validation script. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/)
 */
// Declaring valid date character, minimum year and maximum year
var dtCh= "/";
var minYear=1900;
var maxYear=2100;

function isInteger(s){
	var i;
    for (i = 0; i < s.length; i++){   
        // Check that current character is number.
        var c = s.charAt(i);
        if (((c < "0") || (c > "9"))) return false;
    }
    // All characters are numbers.
    return true;
}

function stripCharsInBag(s, bag){
	var i;
    var returnString = "";
    // Search through string's characters one by one.
    // If character is not in bag, append to returnString.
    for (i = 0; i < s.length; i++){   
        var c = s.charAt(i);
        if (bag.indexOf(c) == -1) returnString += c;
    }
    return returnString;
}

function daysInFebruary (year){
	// February has 29 days in any year evenly divisible by four,
    // EXCEPT for centurial years which are not also divisible by 400.
    return (((year % 4 == 0) && ( (!(year % 100 == 0)) || (year % 400 == 0))) ? 29 : 28 );
}
function DaysArray(n) {
	for (var i = 1; i <= n; i++) {
		this[i] = 31
		if (i==4 || i==6 || i==9 || i==11) {this[i] = 30}
		if (i==2) {this[i] = 29}
   } 
   return this
}

function isDate(dtStr){
	var daysInMonth = DaysArray(12)
	var pos1=dtStr.indexOf(dtCh)
	var pos2=dtStr.indexOf(dtCh,pos1+1)
	var strMonth=dtStr.substring(0,pos1)
	var strDay=dtStr.substring(pos1+1,pos2)
	var strYear=dtStr.substring(pos2+1)
	strYr=strYear
	if (strDay.charAt(0)=="0" && strDay.length>1) strDay=strDay.substring(1)
	if (strMonth.charAt(0)=="0" && strMonth.length>1) strMonth=strMonth.substring(1)
	for (var i = 1; i <= 3; i++) {
		if (strYr.charAt(0)=="0" && strYr.length>1) strYr=strYr.substring(1)
	}
	month=parseInt(strMonth)
	day=parseInt(strDay)
	year=parseInt(strYr)
	if (pos1==-1 || pos2==-1){
		alert("The date format should be : mm/dd/yyyy")
		return false
	}
	if (strMonth.length<1 || month<1 || month>12){
		alert("Please enter a valid month")
		return false
	}
	if (strDay.length<1 || day<1 || day>31 || (month==2 && day>daysInFebruary(year)) || day > daysInMonth[month]){
		alert("Please enter a valid day")
		return false
	}
	if (strYear.length != 4 || year==0 || year<minYear || year>maxYear){
		alert("Please enter a valid 4 digit year between "+minYear+" and "+maxYear)
		return false
	}
	if (dtStr.indexOf(dtCh,pos2+1)!=-1 || isInteger(stripCharsInBag(dtStr, dtCh))==false){
		alert("Please enter a valid date")
		return false
	}
return true
}

</script>
<div class="tab-container" id="container1" VALIGN="top">
  		 <TABLE width="100%">
  		  <TR>
  		   <TD>&nbsp;</TD>
  		  </TR>
  		  <TR>
  		   <TD valign="top"><a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","super_search")" onmouseover="return true;">Standard Search</A></TD>
  		   <TD valign="top"><H3>Super Search</H3></TD>
  		   <TD valign="top"><a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","super_search")" onmouseover="return true;">Dynamic Super Search</A></TD>
  		  </TR>
  		  <TR>
  		   <TD>&nbsp;</TD>
  		  </TR>
  		 </TABLE>
  <h3><img src="$content.getURI("images/number_1.gif")" border=0> Select Data to Display</h3>
  <TABLE VALIGN="top">
  	<TR>
  		<TD>
  		<FORM name="searchForm" method="post" action="$link.setAction("DisplayMRSuperSearchAction")">
  			<TABLE><TR><TD>
  			<TABLE>
			  #set ($typeObjects = $data.getSession().getAttribute("user").getSearchableElementDisplays())
				  #foreach ($typeObject in $typeObjects)
				  	<TR><TD><B>$typeObject.getDescription()</B></TD>
				  	#if($typeObject.getVersions().get("brief") || $typeObject.getVersions().get("detailed"))
				  		#if($typeObject.getVersions().get("brief"))
				  		<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_brief" value="brief"/> Brief</TD>
				  		#else
				  		<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_brief" value="brief" DISABLED/> Brief</TD>
				  		#end
				  		#if($typeObject.getVersions().get("detailed"))
				  		<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_detailed" value="detailed" onmouseup="document.searchForm.super_${typeObject.getElementName()}_brief.checked=!document.searchForm.super_${typeObject.getElementName()}_detailed.checked;"/> Detailed</TD>
				  		#else
				  		<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_detailed" value="detailed" DISABLED/> Detailed</TD>
				  		#end
				  		#else
				  		<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_brief" value="brief" DISABLED/> Brief</TD>
				  								<TD><INPUT type="checkbox" name="super_$typeObject.getElementName()_detailed" value="detailed" onmouseup="document.searchForm.super_${typeObject.getElementName()}_brief.checked=!document.searchForm.super_${typeObject.getElementName()}_detailed.checked;"/> Detailed</TD> 		
				  #end		
				  		
				  	</TR>
				  #end
				  <TR><TD COLSPAN=4 ALIGN=right><INPUT type="hidden" name="ELEMENT_0" value="xnat:mrSessionData"/></TD></TR>
			  </TABLE>
			  </TD></TR></TABLE>
  		</TD>
  	</TR>
  	<TR VALIGN="top">
		<TD>
<table align="left">
<tr>
<td WIDTH="250">
<h3><img src="$content.getURI("images/number_2.gif")" border=0> Enter $displayManager.getSingularDisplayNameForImageSession() or $displayManager.getSingularDisplayNameForSubject() IDs below. (Optional)</h3>
(Ids can be separated with a comma or RTN)<BR>
<INPUT type="hidden" name="COMBO0_FIELDS" value="xnat:mrSessionData.SESSION_ID_in,xnat:subjectData.MAP_in,xnat:subjectData.LAB_ID_in"/>
<TEXTAREA NAME="COMBO0" COLS=30 ROWS=20></TEXTAREA>
</td>
<td valign=top>
<table align="left">
  <tr>
		<td colspan="2">
			<h3><img src="$content.getURI("images/number_3.gif")" border=0> Enter Search Criteria</h3>
		</td>
  </tr>
  <tr>
			<td>$displayManager.getSingularDisplayNameForImageSession() ID</td>
			<td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
				#xdatSearchField($sessionElement $sessionElement.getDisplayField("SESSION_ID"))
			</td>
  </tr>
  <tr>
			<td>Investigator</td>
			<td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
				#xdatSearchField($sessionElement $sessionElement.getDisplayField("INVEST_ID"))
			</td>
  </tr>
  <tr>
			<td>$displayManager.getSingularDisplayNameForImageSession() Type</td>
			<td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
				#xdatSearchField($sessionElement $sessionElement.getDisplayField("TYPE"))
			</td>
  </tr>
  <tr ID="ExptStartDate">
			<td>Experiment Date</td>
  			<td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
				#xdatSearchField($sessionElement $sessionElement.getDisplayField("DATE"))
  			</td>
</tr>
<tr  ID="AgeExpt">
		<td>Age at Experiment Date<//td>
		  <td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
   		   		#xdatSearchField($sessionElement $sessionElement.getDisplayField("AGE"))
  		  </td>
</tr>	

<tr  ID="BirthYear">
		<td>Year of Birth</td>
		<td style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
			#xdatSearchField($subjectElement $subjectElement.getDisplayField("DOB"))
		</td>		
</tr>
	
<tr>
		<td>Map</td>
		<TD style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;"> 
			#xdatSearchField($subjectElement $subjectElement.getDisplayField("MAP"))
		</TD>
</tr>
<tr>
		<td>Lab ID</td>
		<TD style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
			#xdatSearchField($subjectElement $subjectElement.getDisplayField("LAB_ID"))
		</TD>
</tr>
<tr>
		<td colspan=2>
		<input type="submit" name="eventSubmit_doPerform" value="Submit" />
		</td>

</tr>
</table>
<td>
</tr>
</table>
	  		</TD>
	  		</FORM>
	  	</TR>
  	</TR>
  </TABLE>
</div>