$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<p>
<h1>hi there</h1>
<form name="form1" method="post" action="$link.setAction("ModifyItem")">
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<table width="450">
  <tr>
    <td align="left"><label for="$!item.getXSIType()/project">Project</label></td>
    <td><select id="$!item.getXSIType()/project" name="$!item.getXSIType()/project" style="width: 100%;" disabled=true></select></td>
  </tr>

  <tr>
    <td align="left"><label for="$!item.getXSIType()/subject_id">Subject</label></td>
    <td>
      <select id="$!item.getXSIType()/subject_id" name="$!item.getXSIType()/subject_id" style="width: 100%;" disabled=true>
        <option>(Select a project)</option>
      </select>
    </td>
  </tr>

	<tr>
	  <TH align=center colspan=2>Visit Details</TH>
	</tr>
    <tr id="visit_entry" style="display: none;">
      <TD align=left><label for="$!item.getXSIType()/visit_name">Visit</label></TD>
      <TD align=left>
        <select id="$!item.getXSIType()/visit_name" name="$!item.getXSIType()/visit_name" style="width: 100%;" disabled=true>
          <option>(Select a visit)</option>
        </select>
      </td>
    </tr>
    <tr id="visit_type_entry" >
      <TD align=left><label for="$!item.getXSIType()/visit_type">Visit Type</label></TD>
      <TD align=left>
        <select id="$!item.getXSIType()/visit_type" name="$!item.getXSIType()/visit_type" style="width: 100%;" disabled=true>
          <option>(Select a visit type)</option>
        </select>
      </td>
    </tr>
	<TR>
      <TD align=left><label for="xnat:pVisitData.date">Date</label></TD>
      <TD align=left>
			#xdatTextBox("xnat:pVisitData.date" $item "" $vr)
      </TD>
	</TR>	
	<TR>
	  <TD align=left><label for="xnat:pVisitData.closed">Closed</label></TD>
	  <TD align=left>
			#xdatTextBox("xnat:pVisitData.closed" $item "" $vr)
	  </TD>
	</TR>
    <TR>
		<TD align=left><label for="xnat:pVisitData/genericData/experimentData/ID">visit ID</label></TD>
		<TD align=left>
			#xdatTextBox("xnat:pVisitData/genericData/experimentData/ID" $item "" $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left><label for="xnat:pVisitData/genericData/experimentData/LABEL">label</label></TD>
		<TD align=left>
			#xdatTextBox("xnat:pVisitData/genericData/experimentData/LABEL" $item "" $vr)
		</TD>
	</TR>
	
	#xdatEditProps($item $edit_screen)
	<input type="hidden" name="destination" value="$!destination"/>
	<TR><TD COLSPAN=2 ALIGN=center><input type="submit" name="eventSubmit_doSetup" id="eventSubmit_doSetup" value="Submit"/></TD></TR>
</table>

<h3>Experiments</h3>
<p>List them here with a rest call based on the link below... rite?</p>
<p><a href="/xnat/REST/projects/$!project/visits/$!item.getProperty("ID")/experiments/">click here</a></p>


  <script type="text/javascript" LANGUAGE="javascript" src="$content.getURI('scripts/visit/visit_name_type_selector.js')"></SCRIPT>
  <script type="text/javascript">
    function verifyExptId(obj){        };
    
    window.ProjectSubjectManager = new VisitNameTypeSelector("$!item.getXSIType()/project","$!item.getXSIType()/subject_id","eventSubmit_doSetup","$!project","$!part_id","$!visit_name");
    window.ProjectSubjectManager.init();
  </script>
</form>
</p>