$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
    <DIV class="error">$data.message</DIV><br>
#end
    #parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
