#set($scanHeaders=["tr","te","ti","flip","sequence","startTime","imageType","scanSequence","seqVariant","scanOptions","acqType"])
#set($scanValues=["scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/tr","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/te","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/ti","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/flip","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/sequence","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:imageScanData]/startTime","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/imageType","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/scanSequence","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/seqVariant","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/scanOptions","scans/scan[$SCAN_COUNTER][@xsi:type=xnat:mrScanData]/parameters/acqType"])
