ACCESSION :   $!item.Id
$displayManager.getSingularDisplayNameForImageSession().toUpperCase() ID:   $!item.Label
$displayManager.getSingularDisplayNameForSubject().toUpperCase() ID:   $!item.getSubjectData().getId() 
AGE:          $!item.getSubjectAge()
GENDER:       $!item.SubjectData.GenderText
HANDEDNESS:   $!item.SubjectData.HandedText
ACQ. DATE:    $!item.Date
SCANNER:      $!item.Scanner
STABILIZATION:$!item.Stabilization
REF. MARKER:  $!item.Marker
INVESTIGATOR: $!item.Investigator.Firstname $!item.Investigator.Lastname
OPERATOR:     $!item.Operator

#foreach ($scan in $item.Scans_scan)
$scan.Id   $!scan.Type   $!scan.Quality
#end

Additional notes
$!item.Note
