ACCESSION :   $!item.Id
$displayManager.getSingularDisplayNameForImageSession().toUpperCase() ID:   $!item.Label
$displayManager.getSingularDisplayNameForSubject().toUpperCase() ID:   $!item.getSubjectData().getId() 
AGE:          $!item.getSubjectAge()
GENDER:       $!item.SubjectData.GenderText
HANDEDNESS:   $!item.SubjectData.HandedText
ACQ. DATE:    $!item.Date
SCANNER:      $!item.Scanner
INVESTIGATOR: $!item.Investigator.Firstname $!item.Investigator.Lastname
OPERATOR:     $!item.Operator

#foreach ($scan in $item.Scans_scan)
$scan.Id   $!scan.Type   $!scan.Quality
#end

Additional notes
$!item.Note

#foreach ($scan in $item.Scans_scan)
SCAN NUMBER: $!scan.Id
TYPE:        $!scan.Type
Quality:     $!scan.Quality
Vox res (mm):$!scan.Parameters_voxelres_x x $!scan.Parameters_voxelres_y x $!scan.Parameters_voxelres_z
Rect. Fov:   $!scan.Parameters_fov_x/$!scan.Parameters_fov_y
Orientation: $!scan.Parameters_orientation
Time:        $!scan.startTime
Note:        $!scan.Note

#end