#if($assessor.canRead($user)==false)
	##handles data that is not viewable by this user.  On some servers, users can see that these exist (but not view the actual data)
	##on other servers, they shouldn't see that it exists at all.
	##By default, the user shouldn't see these. 
	##To allow, site administrators should configure the UI.allow-blocked-subject-assessor-view peroprty in siteConfiguration.properties
    #if($turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-blocked-subject-assessor-view","false")))
    	#set($denied=true)
    	<TR BGCOLOR="FF9999">
    		<TD>$!assessor.getProperty("date")</TD>
			
			#if($assessor.getItem().instanceOf("xnat:imageAssessorData"))
				<TD>•&nbsp;&nbsp;$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</TD>
			#else
				<TD>$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</TD>
			#end
    		<TD>$!assessor.getProjectDisplayID()</TD>
    		<TD>#if($!assessor.getIdentifier($project,true))$!assessor.getIdentifier($project,true)#elseif($assessor.getLabel())$!assessor.getLabel()#else$!assessor.getId()#end</TD>
    	</TR>
    #end
#else
	#if($assessor.getProject()==$project)
     <TR>
    #else
    	#if($assessor.hasProject($project))
    		#set($shared=true)
    		<TR BGCOLOR="FFCC99">
    	#else
    		<TR>
    	#end
    #end
   <TD>$!assessor.getProperty("date")</TD>
   <TD>
    #set ( $assessorID = $!assessor.getProperty("ID"))
    #set ( $assessorField = "${assessor.getXSIType()}.ID")
    #set ( $url = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$!assessor.getXSIType()).addPathInfo('search_field',$assessorField).addPathInfo('search_value',$assessorID).addPathInfo('popup',$popup)" )
    
    #if($assessor.hasProject($project))
    	#set ( $url= "$url/project/$project")
    #end
    
    #if($assessor.getItem().instanceOf("xnat:imageAssessorData"))
    	    #if ($assessor.getXSIType().equalsIgnoreCase("behavioral:tasksSummaryData"))
    		     •&nbsp;&nbsp;<a href="$url">Task: $assessor.getParsedType()</A>
    	    #else
    		     •&nbsp;&nbsp;<a href="$url">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
    	    #end
    #else
       <a href="$url" title="$assessor.getIdentifier($!project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
    #end
    
   </TD>
   <TD>$!assessor.getProjectDisplayID()</TD>
   <TD>#if($!assessor.getIdentifier($project,true))$!assessor.getIdentifier($project,true)#elseif($assessor.getLabel())$!assessor.getLabel()#else$!assessor.getId()#end</TD>
 </TR>
#end