<!-- BEGIN /screens/xnat_subjectData/xnat_subjectData_edit_keyFields.vm -->
<DIV class="edit_header1">Demographics</DIV><BR>
<table>
	#parse("/screens/xnat_subjectData/xnat_subjectData_edit_core_demographics.vm")
	#parse($turbineUtils.getTemplateName("_edit_addtl_demographics","xnat:subjectData",$project))
</table>
		<script type="text/javascript">
		function validateKeyFields(){
		  return validateDemographics();
		}
		</script>
<!-- END /screens/xnat_subjectData/xnat_subjectData_edit_keyFields.vm -->