#set ($qcAssessors = $om.getMinimalLoadAssessors("xnat:qcAssessmentData") )	
		#if($qcAssessors.size() > 0)
			<BR><BR>


	    		   #set ($qcAssessor = $qcAssessors.get(0) )	
			   #set ($type = $qcAssessor.getType())
			   
			   #parse($turbineUtils.getTemplateName("_details",$qcXsiType,$project,$type))
		 #end
			   
			   
			   
