<!-- Sequence: 10 -->
<!-- Upload/Default -->
    <li><a href="$link.setPage("LaunchUploadApplet.vm")/popup/true" target='applet' onclick="popupWSize('about:blank',720,860,'applet'); return true;">Images</a></li>
    <li><a href="$link.setPage("XMLUpload.vm")">XML</a></li>
    <li><a href="$link.setPage("XDATScreen_uploadCSV.vm")">Spreadsheet</a></li>
    <li><a href="$link.setPage("XDATScreen_prearchives.vm")">Go to prearchive</a></li>
