<!-- Sequence: 10 -->
<!-- Upload/Default -->
    <li><a href="#" onclick="popupWSize('$link.setPage("LaunchUploadApplet.vm")/popup/true',720,860); return false;">Images</a></li>
    <li><a href="$link.setPage("XMLUpload.vm")">XML</a></li>
    <li><a href="$link.setPage("XDATScreen_uploadCSV.vm")">Spreadsheet</a></li>
    <li><a href="$link.setPage("XDATScreen_prearchives.vm")">Go to prearchive</a></li>
