<!-- Sequence: 20 -->
<!-- allowGuest: true -->

   <li class="yuimenuitem">
    <a class="yuimenuitemlabel" href="$link.setAction("ProjectDownloadAction").addPathInfo('project',$project.getId())">Download Images</A>
   </li>