<!--BEGIN PROJECT SUMMARY TABS -->
<STYLE>
span.spacer{
height:12px;
width:1px;
}
</STYLE>
<div ID="project_summary_module" style="display:none">
 <DIV id="projectSummary" class="yui-navset">
  <ul class="yui-nav" style="">
      <li class="selected"><a href="#tab1"><em>Details<span class="spacer"></span></em></a></li>
      <li><a href="#tab7"><em>Publications<span class="spacer"></span></em></a></li>
#if($data.getSession().getAttribute("user").canCreate($project))
      <li><a href="#tab3"><em>Manage Access<span class="spacer"></span></em></a></li>
      <li><a href="#tab4"><em>Manage Pipelines<span class="spacer"></span></em></a></li>
#end
      <li><a href="#tab5"><em>Status<span class="spacer"></span></em></a></li>

      <li><a href="#tab6"><em>History<span class="spacer"></span></em></a></li>
  </ul>
 <div class="yui-content">   
  <div id="tab1"><p>
		<!-- BEGIN DETAILS TAB -->
#parse("/screens/project/widgets/project_summary_details.vm")
		<!-- END DETAILS TAB -->
</p></div>  
 
  <div id="tab7"><p>
		<!-- BEGIN PUBLICATIONS TAB -->
#parse("/screens/project/widgets/project_summary_publications.vm")
		<!-- END PUBLICATIONS TAB -->
</p></div> 


#if($data.getSession().getAttribute("user").canCreate($project))
<div id="tab3"><p>
		<!-- BEGIN MANAGEMENT TAB -->
#parse("/screens/project/widgets/project_summary_management.vm")		
		<!-- END MANAGEMENT TAB -->
</p></div>
#end

#if($data.getSession().getAttribute("user").canCreate($project))
<div id="tab4"><p>
		<!-- BEGIN PIPELINE TAB -->
#parse("/screens/project/widgets/project_summary_pipeline.vm")		
		<!-- END PIPELINE TAB -->
</p></div>
#end


<div id="tab5"><p>
		<!-- BEGIN STATUS TAB -->
#parse("/screens/project/widgets/project_summary_status.vm")
		<!-- END STATUS TAB -->
</p></div>

<div id="tab6"><p>
		<!-- BEGIN HISTORY TAB -->
#parse("/screens/project/widgets/project_summary_history.vm")
		<!-- END HISTORY TAB -->
</p></div>


  </div> 
 </DIV>
</div>
<script type="text/javascript">   
function SummaryTabManagerInit(){
    var tabView = new YAHOO.widget.TabView('projectSummary');   
    //var headerMenuBar = new YAHOO.widget.Menu("headerMenuBar", {});   
    //headerMenuBar.render(); 
    var oButton1= new YAHOO.widget.Button("button1");
    var oButton2= new YAHOO.widget.Button("button2");
    #if($data.getSession().getAttribute("user").canDelete($project))
    var oButton3= new YAHOO.widget.Button("button3");
    #end
    #if($data.getSession().getAttribute("user").canCreate($project))
    var oButton4= new YAHOO.widget.Button("button4");
    var oButton5= new YAHOO.widget.Button("button5");
    #end
    
    window.project_summary_module = new YAHOO.widget.Module("project_summary_module",{visible:false});
    window.project_summary_module.show(); 		    
					}
					
	YAHOO.util.Event.onDOMReady(SummaryTabManagerInit);
</script>
<!--END PROJECT SUMMARY TABS -->