			<!-- BEGIN /screens/xnat_ctSessionData/validate.vm -->
			#parse($turbineUtils.getTemplateName("validate.vm","xnat:imageSessionData",$project,"edit"))
			<!-- END /screens/xnat_ctSessionData/validate.vm -->