##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ($data.getSession().getAttribute("user").getStoredSearches().size()>0)
<table align="left" valign="top">
	<tr>
       <td>
		<font size="2"><u><b>Bundles</b></u><br></font>
		${data.getSession().getAttribute("user").outputBundleHTMLMenu()}
		
	  </td>
	</tr>
</table>
		   <br>
#end