##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($typeObjects = $data.getSession().getAttribute("user").getBrowseableElementDisplays() )
#if ($typeObjects.size() > 0 && $data.getSession().getAttribute("user").can("browse"))
	<table align="left" valign="top">
		<tr>
	       <td>
               <b style="text-decoration:underline">Browse</b><br>
			<table align="left" valign="top">
			
			#foreach ($typeObject in $typeObjects)
				<tr><td valign="top"></td><td align="left"><a href="$link.setAction("SearchAction").addPathInfo("element",$typeObject.getElementName()).addPathInfo("queryType","new")" onmouseover="return true;">$typeObject.getDescription()</a></td></tr>
			#end
				</table>
			<br>
		  </td>
		</tr>
	</table>
		   <br>
#end