#if($html)
#set($h3 = "<h3>")
#set($h3_ = "</h3>")
#set($br = "<br/>")
#set($dl = "<div class='label'>")
#set($dv = "<div class='value'>")
#set($d_ = "</div>")
#set($t = "<table><tbody>")
#set($tr = "<tr>")
#set($tdl = "<td class='label'>")
#set($tdv = "<td class='value'>")
#set($td_ = "</td>")
#set($tr_ = "</tr>")
#set($t_ = "</tbody></table>")
<html>
<head>
<style>
body { font-family: Arial, Helvetica, sans-serif ; font-size: 12px ; line-height: 15px ;}
h3 { margin: 0px ; }
table { margin-left: 10px; }
.label { margin: 1px 5px 1px 0px ; font-weight: bold ; }
.value { margin: 1px 5px 1px 5px ; font-weight: lighter ; color: #2255DD ; }
</style>
</head>
<body>
$!{h3}
#end #parse("/screens/email/issue_report.vm")
$!{hr}<div style="width: 100%; margin-right: 10px ; text-align: right;">
    <img src="http://${xnat_host}/${content.getURI("images/logo.png")}" border="0">
</div>
#if($html)
</body>
</html>
#end